<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{ 'COMMON.LIST' | translate }}</h3>{{ 'HEADINVOICE.HEADINVOICES' | translate }}
    </div>
    <div class="card-toolbar">
      <!-- <a type="button" class="btn btn-primary" (click)="showModalDialog(undefined, true, false)" *ngIf="authService.hasPermission('add_headinvoice') && contractId">{{ 'COMMON.NEW' | translate }}</a> -->
      <a type="button" class="btn btn-primary" routerLink="{{parent}}/headinvoices/add" *ngIf="authService.hasPermission('add_headinvoice')">{{ 'COMMON.NEW' | translate }}</a>
      <a type="button" class="btn btn-primary" (click)="showModalDialogGenerate()" *ngIf="authService.hasPermission('add_headinvoice')">{{ 'COMMON.GENERATE' | translate }}</a>
      <a type="button" class="btn btn-primary" (click)="reGenerate()" *ngIf="authService.hasPermission('add_headinvoice')">{{ 'COMMON.REGENERATE' | translate }}</a>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-6">
          {{ 'COMMON.FILTER' | translate }}
        </div>
        <div class="col-lg-6" [formGroup]="searchGroup">
          <input type="text" class="form-control" name="searchText" placeholder="{{ 'COMMON.SEARCH' | translate }}" value="" (input)="dt.filterGlobal($event.target.value, 'contains')"
            formControlName="searchTerm" /><small class="form-text text-muted"><b>{{ 'COMMON.SEARCH' | translate }}</b> </small>
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->

    <!-- begin:Table -->
    <p-table #dt [value]="models" [(selection)]="selectedModels" dataKey="id" styleClass="p-datatable-striped p-datatable-sm" [rowHover]="true"
    [rows]="per_page" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50,100]"
    [paginator]="true" currentPageReportTemplate="{{ 'COMMON.SHOWING' | translate }} {{ 'COMMON.FROM' | translate }} {first} {{ 'COMMON.TO' | translate }} {last} {{ 'COMMON.OF' | translate }} {totalRecords} {{ 'COMMON.RECORDS' | translate }}"
    [filterDelay]="1000" [globalFilterFields]="['id','username']" [lazy]="true" (onLazyLoad)="loadLazy($event)"
    [totalRecords]="totalRecords" [showJumpToPageDropdown]="false" [minBufferPx]="1" [showLoader]="true" [loading]="requesting"
    [resizableColumns]="size_width" [autoLayout]="size_width">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem" *ngIf="showTableCheckbox">
            <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
          </th>
          <th pSortableColumn="id">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'HEADINVOICE.ID' | translate }}
            </div>
          </th>
          <th pSortableColumn="created_at">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'COMMON.CREATED_AT' | translate }}
              <!-- <p-sortIcon field="date_joined"></p-sortIcon>
              <p-columnFilter type="date_joined" field="date_joined" display="menu" class="p-ml-auto"></p-columnFilter> -->
            </div>
          </th>
          <th pSortableColumn="to_date">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'HEADINVOICE.TO_DATE' | translate }}
              <!-- <p-sortIcon field="date_joined"></p-sortIcon>
              <p-columnFilter type="date_joined" field="date_joined" display="menu" class="p-ml-auto"></p-columnFilter> -->
            </div>
          </th>
          <th pSortableColumn="contract.name_invoce_to">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'HEADINVOICE.CONTRACT' | translate }}
            </div>
          </th>
          <th pSortableColumn="office.name">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'HEADINVOICE.OFFICE' | translate }}
            </div>
          </th>
          <th style="width: 10rem">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'COMMON.ACTION' | translate }}
              <!-- <p-sortIcon field="date_joined"></p-sortIcon>
              <p-columnFilter type="date_joined" field="date_joined" display="menu" class="p-ml-auto"></p-columnFilter> -->
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-value>
        <tr class="p-selectable-row">
          <td *ngIf="showTableCheckbox">
            <!-- <p-tableCheckbox [value]="value"></p-tableCheckbox> -->
          </td>
          <td>
            {{value.id}}
          </td>
          <td>
            {{value.created_at | date: 'MM/dd/yyyy'}}
          </td>
          <td>
            {{value.to_date | date: 'MMMM/yyyy'}}
          </td>          
          <td>
            {{value.contract?.code}} - {{value.contract?.name_invoce_to}}
          </td>
          <td>
            {{value.office?.name}}
          </td>
          <td style="text-align: right">
          <a title="{{ 'COMMON.PRINT' | translate }}" class="btn btn-icon btn-light btn-hover-danger btn-sm"
            (click)="print(value)">
            <span [inlineSVG]="'./assets/media/svg/icons/Devices/Printer.svg'" cacheSVG="true"
              class="svg-icon svg-icon-md svg-icon-primary">
            </span>
          </a>
          <a title="{{ 'COMMON.VIEW' | translate }}" class="btn btn-icon btn-light btn-hover-primary btn-sm" style="margin-right: 5px;"
            (click)="showModalDialog(value.id, false, true)" *ngIf="authService.hasPermission('view_headinvoice') && contractId">
            <span [inlineSVG]="'./assets/media/svg/icons/General/Eye.svg'" cacheSVG="true"
            class="svg-icon svg-icon-md svg-icon-info">
            </span>
          </a>
          <a title="{{ 'COMMON.VIEW' | translate }}" class="btn btn-icon btn-light btn-hover-primary btn-sm" style="margin-right: 5px;"
          routerLink="{{parent}}/headinvoices/view/{{value.id}}" *ngIf="authService.hasPermission('view_headinvoice') && !contractId">
            <span [inlineSVG]="'./assets/media/svg/icons/General/Eye.svg'" cacheSVG="true"
              class="svg-icon svg-icon-md svg-icon-info">
            </span>
          </a>
          <a title="{{ 'COMMON.EDIT' | translate }}" class="btn btn-icon btn-light btn-hover-primary btn-sm" style="margin-right: 5px;"
            (click)="showModalDialog(value.id, false, false)" *ngIf="authService.hasPermission('change_headinvoice') && contractId">
            <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
              class="svg-icon svg-icon-md svg-icon-primary">
            </span>
          </a>
          <a title="{{ 'COMMON.EDIT' | translate }}" class="btn btn-icon btn-light btn-hover-primary btn-sm" style="margin-right: 5px;"
            routerLink="{{parent}}/headinvoices/edit/{{value.id}}" *ngIf="authService.hasPermission('change_headinvoice') && !contractId">
            <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
              class="svg-icon svg-icon-md svg-icon-primary">
            </span>
          </a>
          <a title="{{ 'COMMON.DELETE' | translate }}" class="btn btn-icon btn-light btn-hover-danger btn-sm"
            (click)="confirm(value.id, 'right')" *ngIf="authService.hasPermission('delete_headinvoice')">
            <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
              class="svg-icon svg-icon-md svg-icon-danger">
            </span>
          </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">{{ 'COMMON.NO_ITEMS_FOUND' | translate }}</td>
        </tr>
      </ng-template>
    </p-table>
    <!-- end: Table -->
  </div>
</div>

<p-confirmDialog header="{{ 'COMMON.CONFIRMATION' | translate }}" icon="pi pi-exclamation-triangle" [position]="confirmDialogPosition"></p-confirmDialog>

<p-dialog header="{{ 'HEADINVOICE.HEADINVOICES' | translate }}" [(visible)]="displayModal" [modal]="true" [style]="{width: '60vw'}" 
  [baseZIndex]="10000" [blockScroll]="false" [draggable]="false" [dismissableMask]="true" [resizable]="false">

  <div class="mt-5">
    <app-head-invoice-edit [headInvoiceID]="headInvoiceID" (displayModal)="hideModalDialog()" [setView]="setViewHeadInvoice"></app-head-invoice-edit>
  </div>
</p-dialog>

<p-dialog header="{{ 'COMMON.GENERATE' | translate }}" [(visible)]="displayModalGenerate" [modal]="true" [style]="{width: '60vw'}" 
  [baseZIndex]="10000" [blockScroll]="false" [draggable]="false" [dismissableMask]="true" [resizable]="false">
  <form action="#" class="form form-label-right" [formGroup]="formGroupGenerate">
    <div class="form-group row">
      <div class="col-lg-4">
        <label>{{ 'COMMON.ENTER' | translate }} {{ 'HEADINVOCE.FROM_DATE' | translate}}</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyleClass]="getValidClass(isControlValid('from_date', formGroupGenerate))" name="from_date" formControlName="from_date" showTime="false"></p-calendar>
        <div class="feedback" *ngIf="!isControlTouched('from_date',formGroupGenerate)">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'HEADINVOCE.FROM_DATE' | translate}}</b></div>
        <div class="valid-feedback" *ngIf="isControlValid('from_date',formGroupGenerate)">{{ 'HEADINVOCE.FROM_DATE' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
        <div class="invalid-feedback" *ngIf="controlHasError('required', 'from_date', formGroupGenerate)">{{ 'HEADINVOCE.FROM_DATE' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
        <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'from_date', formGroupGenerate)">{{ 'HEADINVOCE.FROM_DATE' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
        <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'from_date', formGroupGenerate)">{{ 'HEADINVOCE.FROM_DATE' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
      </div>
      <div class="col-lg-4">
        <label>{{ 'COMMON.ENTER' | translate }} {{ 'HEADINVOCE.TO_DATE' | translate}}</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyleClass]="getValidClass(isControlValid('to_date', formGroupGenerate))" name="to_date" formControlName="to_date" showTime="false"></p-calendar>
        <div class="feedback" *ngIf="!isControlTouched('to_date',formGroupGenerate)">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'HEADINVOCE.TO_DATE' | translate}}</b></div>
        <div class="valid-feedback" *ngIf="isControlValid('to_date',formGroupGenerate)">{{ 'HEADINVOCE.TO_DATE' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
        <div class="invalid-feedback" *ngIf="controlHasError('required', 'to_date', formGroupGenerate)">{{ 'HEADINVOCE.TO_DATE' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
        <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'to_date', formGroupGenerate)">{{ 'HEADINVOCE.TO_DATE' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
        <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'to_date', formGroupGenerate)">{{ 'HEADINVOCE.TO_DATE' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="float-right">
        <a class="btn btn-default font-weight-bold mr-2" (click)="hideModalDialogGenerate()">{{ 'COMMON.CANCEL' | translate }}</a>
        <button type="button" class="btn btn-primary font-weight-bold mr-2"
          [disabled]="formGroup.invalid" (click)="generate()">{{ 'COMMON.GENERATE' | translate }}</button>
      </div>
    </div>
  </form>
</p-dialog>