<div class="card card-custom gutter-b">
  <ng-container *ngIf="requesting">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="model">
          {{ (id ? 'COMMON.EDIT' : 'COMMON.NEW') | translate }}
          <span *ngIf="model && model.id">{{ 'SERVICE_ORDER.SERVICE_ORDER' | translate }} : {{model.id}} / {{ 'CONTRACT.CONTRACT' | translate }} : {{model.contract.code}}</span>
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-light" routerLink="{{parent}}/serviceorders">
        <i class="fa fa-arrow-left"></i>{{ 'COMMON.BACK' | translate }}
      </a>
      <!-- <button class="btn btn-secondary ml-2" (click)="reset()">
        <i class="fa fa-redo"></i>{{ 'COMMON.RESET' | translate }}
      </button> -->
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
      <li class="nav-item cursor-pointer" (click)="changeTab(tabs.BASIC_TAB)">
        <a class="nav-link" data-toggle="tab" role="tab" [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
          [class.active]="activeTabId === tabs.BASIC_TAB">
          {{ 'COMMON.BASIC_INFO' | translate }}
        </a>
      </li>
      <!-- <li *ngIf="model && model.id" class="nav-item cursor-pointer" (click)="changeTab(tabs.PROFILE)">
        <a class="nav-link" data-toggle="tab" role="button" [attr.aria-selected]="activeTabId === tabs.PROFILE"
          [class.active]="activeTabId === tabs.PROFILE">Profile</a>
      </li> -->
    </ul>

    <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
      <div class="mt-5" *ngIf="model">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.COMPANY' | translate }}</label>
              <app-company-autocomplete
              name="company" [valid]="isControlValid('company')" [touched]="isControlTouched('company')" [class.is-invalid]="isControlInvalid('company')"
              [class.is-valid]="isControlValid('company')" formControlName="company" id="company" [model]="model.company"></app-company-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('company')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.COMPANY' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('company')">{{ 'SERVICE_ORDER.COMPANY' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'company')">{{ 'SERVICE_ORDER.COMPANY' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'company')">{{ 'SERVICE_ORDER.COMPANY' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'company')">{{ 'SERVICE_ORDER.COMPANY' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.EMPLOYEE' | translate }}</label>
              <app-employee-autocomplete
              name="employee" [valid]="isControlValid('employee')" [touched]="isControlTouched('employee')" [class.is-invalid]="isControlInvalid('employee')"
              [class.is-valid]="isControlValid('employee')" formControlName="employee" id="employee" [model]="model.employee"></app-employee-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('employee')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.EMPLOYEE' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('employee')">{{ 'SERVICE_ORDER.EMPLOYEE' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'employee')">{{ 'SERVICE_ORDER.EMPLOYEE' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'employee')">{{ 'SERVICE_ORDER.EMPLOYEE' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'employee')">{{ 'SERVICE_ORDER.EMPLOYEE' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.CONTRACT' | translate }}</label>
              <app-contract-autocomplete
              name="contract" [valid]="isControlValid('contract')" [touched]="isControlTouched('contract')" [class.is-invalid]="isControlInvalid('contract')"
              [class.is-valid]="isControlValid('contract')" formControlName="contract" id="contract" [model]="model.contract"></app-contract-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('contract')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.CONTRACT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('contract')">{{ 'SERVICE_ORDER.CONTRACT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'contract')">{{ 'SERVICE_ORDER.CONTRACT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'contract')">{{ 'SERVICE_ORDER.CONTRACT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'contract')">{{ 'SERVICE_ORDER.CONTRACT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.COMPANY_CONTACT' | translate }}</label>
              <app-company-contact-autocomplete
              name="company_contact" [valid]="isControlValid('company_contact')" [touched]="isControlTouched('company_contact')" [class.is-invalid]="isControlInvalid('company_contact')"
              [class.is-valid]="isControlValid('company_contact')" formControlName="company_contact" id="company_contact" [model]="model.company_contact"></app-company-contact-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('company_contact')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.COMPANY_CONTACT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('company_contact')">{{ 'SERVICE_ORDER.COMPANY_CONTACT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'company_contact')">{{ 'SERVICE_ORDER.COMPANY_CONTACT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'company_contact')">{{ 'SERVICE_ORDER.COMPANY_CONTACT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'company_contact')">{{ 'SERVICE_ORDER.COMPANY_CONTACT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.OFFICE' | translate }}</label>
              <app-office-autocomplete
              name="office" [valid]="isControlValid('office')" [touched]="isControlTouched('office')" [class.is-invalid]="isControlInvalid('office')"
              [class.is-valid]="isControlValid('office')" formControlName="office" id="office" [model]="model.office"></app-office-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('office')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.OFFICE' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('office')">{{ 'SERVICE_ORDER.OFFICE' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'office')">{{ 'SERVICE_ORDER.OFFICE' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'office')">{{ 'SERVICE_ORDER.OFFICE' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'office')">{{ 'SERVICE_ORDER.OFFICE' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.PRODUCTANDSERVICE' | translate }}</label>
              <app-product-and-service-select
              name="product_and_service" [valid]="isControlValid('product_and_service')" [touched]="isControlTouched('product_and_service')" [class.is-invalid]="isControlInvalid('product_and_service')"
              [class.is-valid]="isControlValid('product_and_service')" formControlName="product_and_service" id="product_and_service" [model]="model.product_and_service"></app-product-and-service-select>
              <div class="feedback" *ngIf="!isControlTouched('product_and_service')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.PRODUCTANDSERVICE' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('product_and_service')">{{ 'SERVICE_ORDER.PRODUCTANDSERVICE' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'product_and_service')">{{ 'SERVICE_ORDER.PRODUCTANDSERVICE' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'product_and_service')">{{ 'SERVICE_ORDER.PRODUCTANDSERVICE' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'product_and_service')">{{ 'SERVICE_ORDER.PRODUCTANDSERVICE' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.STATUS' | translate}}</label>
              <p-dropdown [styleClass]="getValidClass(isControlValid('status'))" [options]="optionsStatus" optionLabel="key" name="status" formControlName="status" placeholder="Selecciona Status"></p-dropdown>
              <div class="feedback" *ngIf="!isControlTouched('status')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.STATUS' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('status')">{{ 'SERVICE_ORDER.STATUS' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'status')">{{ 'SERVICE_ORDER.STATUS' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'status')">{{ 'SERVICE_ORDER.STATUS' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'status')">{{ 'SERVICE_ORDER.STATUS' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
            </div> 
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.TOTAL_AMOUNT' | translate }}</label>
              <!-- <label style="float:right; color: red;">{{ total_amount.value * currency.value?.exchange_rate | currency }} {{office?.currency?.symbol}}</label> -->
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="total_amount" [class.is-invalid]="isControlInvalid('total_amount')"
                [class.is-valid]="isControlValid('total_amount')" formControlName="total_amount" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('total_amount')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.TOTAL_AMOUNT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('total_amount')">{{ 'SERVICE_ORDER.TOTAL_AMOUNT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'total_amount')">{{ 'SERVICE_ORDER.TOTAL_AMOUNT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'total_amount')">{{ 'SERVICE_ORDER.TOTAL_AMOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'total_amount')">{{ 'SERVICE_ORDER.TOTAL_AMOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div> 
            <div class="col-lg-4">
                <label>{{ 'COMMON.ENTER' | translate }} {{ 'CONTRACT.IS_ACTIVE' | translate}}</label>
                <p-toggleButton class="form-control form-control-lg form-control-solid" formControlName="is_active" onLabel="{{ 'COMMON.YES' | translate}}" offLabel="{{ 'COMMON.NO' | translate}}"></p-toggleButton>
                <div class="feedback" *ngIf="!isControlTouched('is_active')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'CONTRACT.IS_ACTIVE' | translate}}</b></div>
                <div class="valid-feedback" *ngIf="isControlValid('is_active')">{{ 'CONTRACT.IS_ACTIVE' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
                <div class="invalid-feedback" *ngIf="controlHasError('required', 'is_active')">{{ 'CONTRACT.IS_ACTIVE' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
                <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'is_active')">{{ 'CONTRACT.IS_ACTIVE' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
                <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'is_active')">{{ 'CONTRACT.IS_ACTIVE' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
            </div> 
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.TYPESERVICEORDER' | translate }}</label>
              <app-type-service-order-select
              name="type_service_order" [valid]="isControlValid('type_service_order')" [touched]="isControlTouched('type_service_order')" [class.is-invalid]="isControlInvalid('type_service_order')"
              [class.is-valid]="isControlValid('type_service_order')" formControlName="type_service_order" id="type_service_order" [model]="model.type_service_order"></app-type-service-order-select>
              <div class="feedback" *ngIf="!isControlTouched('type_service_order')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.TYPESERVICEORDER' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('type_service_order')">{{ 'SERVICE_ORDER.TYPESERVICEORDER' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'type_service_order')">{{ 'SERVICE_ORDER.TYPESERVICEORDER' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'type_service_order')">{{ 'SERVICE_ORDER.TYPESERVICEORDER' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'type_service_order')">{{ 'SERVICE_ORDER.TYPESERVICEORDER' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-12">
              <br>
              <h3 class="text-dark font-weight-bold my-1 mr-5 ng-star-inserted">{{ 'SERVICE_ORDER.FIXED_COSTS' | translate }}</h3>
              <br>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.TOTAL_FIXED_COSTS' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="total_fixed_costs" [class.is-invalid]="isControlInvalid('total_fixed_costs')"
                [class.is-valid]="isControlValid('total_fixed_costs')" formControlName="total_fixed_costs" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('total_fixed_costs')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.TOTAL_FIXED_COSTS' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('total_fixed_costs')">{{ 'SERVICE_ORDER.TOTAL_FIXED_COSTS' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'total_fixed_costs')">{{ 'SERVICE_ORDER.TOTAL_FIXED_COSTS' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'total_fixed_costs')">{{ 'SERVICE_ORDER.TOTAL_FIXED_COSTS' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'total_fixed_costs')">{{ 'SERVICE_ORDER.TOTAL_FIXED_COSTS' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.TRAVELS' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="travels" [class.is-invalid]="isControlInvalid('travels')"
                [class.is-valid]="isControlValid('travels')" formControlName="travels"/>
              <div class="feedback" *ngIf="!isControlTouched('travels')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.TRAVELS' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('travels')">{{ 'SERVICE_ORDER.TRAVELS' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'travels')">{{ 'SERVICE_ORDER.TRAVELS' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'travels')">{{ 'SERVICE_ORDER.TRAVELS' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'travels')">{{ 'SERVICE_ORDER.TRAVELS' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div> 
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.APPRAISAL' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="appraisal" [class.is-invalid]="isControlInvalid('appraisal')"
                [class.is-valid]="isControlValid('appraisal')" formControlName="appraisal" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('appraisal')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.APPRAISAL' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('appraisal')">{{ 'SERVICE_ORDER.APPRAISAL' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'appraisal')">{{ 'SERVICE_ORDER.APPRAISAL' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'appraisal')">{{ 'SERVICE_ORDER.APPRAISAL' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'appraisal')">{{ 'SERVICE_ORDER.APPRAISAL' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.HANDLING' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="handling" [class.is-invalid]="isControlInvalid('handling')"
                [class.is-valid]="isControlValid('handling')" formControlName="handling"/>
              <div class="feedback" *ngIf="!isControlTouched('handling')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.HANDLING' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('handling')">{{ 'SERVICE_ORDER.HANDLING' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'handling')">{{ 'SERVICE_ORDER.HANDLING' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'handling')">{{ 'SERVICE_ORDER.HANDLING' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'handling')">{{ 'SERVICE_ORDER.HANDLING' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>            
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.TRAVELS_DIRECTS' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="travels_directs" [class.is-invalid]="isControlInvalid('travels_directs')"
                [class.is-valid]="isControlValid('travels_directs')" formControlName="travels_directs"
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('travels_directs')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.TRAVELS_DIRECTS' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('travels_directs')">{{ 'SERVICE_ORDER.TRAVELS_DIRECTS' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'travels_directs')">{{ 'SERVICE_ORDER.TRAVELS_DIRECTS' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'travels_directs')">{{ 'SERVICE_ORDER.TRAVELS_DIRECTS' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'travels_directs')">{{ 'SERVICE_ORDER.TRAVELS_DIRECTS' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>           
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.MATERIALS' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="materials" [class.is-invalid]="isControlInvalid('materials')"
                [class.is-valid]="isControlValid('materials')" formControlName="materials"/>
              <div class="feedback" *ngIf="!isControlTouched('materials')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.MATERIALS' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('materials')">{{ 'SERVICE_ORDER.MATERIALS' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'materials')">{{ 'SERVICE_ORDER.MATERIALS' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'materials')">{{ 'SERVICE_ORDER.MATERIALS' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'materials')">{{ 'SERVICE_ORDER.MATERIALS' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.VIGILANT' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="vigilant" [class.is-invalid]="isControlInvalid('vigilant')"
                [class.is-valid]="isControlValid('vigilant')" formControlName="vigilant" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('vigilant')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.VIGILANT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('vigilant')">{{ 'SERVICE_ORDER.VIGILANT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'vigilant')">{{ 'SERVICE_ORDER.VIGILANT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'vigilant')">{{ 'SERVICE_ORDER.VIGILANT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'vigilant')">{{ 'SERVICE_ORDER.VIGILANT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.ATM_SUPPLY' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="atm_supply" [class.is-invalid]="isControlInvalid('atm_supply')"
                [class.is-valid]="isControlValid('atm_supply')" formControlName="atm_supply" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('atm_supply')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.ATM_SUPPLY' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('atm_supply')">{{ 'SERVICE_ORDER.ATM_SUPPLY' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'atm_supply')">{{ 'SERVICE_ORDER.ATM_SUPPLY' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'atm_supply')">{{ 'SERVICE_ORDER.ATM_SUPPLY' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'atm_supply')">{{ 'SERVICE_ORDER.ATM_SUPPLY' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.ATM_FAILURE_1_2_LEVELS' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="atm_failure_1_2_levels" [class.is-invalid]="isControlInvalid('atm_failure_1_2_levels')"
                [class.is-valid]="isControlValid('atm_failure_1_2_levels')" formControlName="atm_failure_1_2_levels" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('atm_failure_1_2_levels')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.ATM_FAILURE_1_2_LEVELS' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('atm_failure_1_2_levels')">{{ 'SERVICE_ORDER.ATM_FAILURE_1_2_LEVELS' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'atm_failure_1_2_levels')">{{ 'SERVICE_ORDER.ATM_FAILURE_1_2_LEVELS' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'atm_failure_1_2_levels')">{{ 'SERVICE_ORDER.ATM_FAILURE_1_2_LEVELS' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'atm_failure_1_2_levels')">{{ 'SERVICE_ORDER.ATM_FAILURE_1_2_LEVELS' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.CUSTODY_PERSONAL_ATM' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="custody_personal_atm" [class.is-invalid]="isControlInvalid('custody_personal_atm')"
                [class.is-valid]="isControlValid('custody_personal_atm')" formControlName="custody_personal_atm" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('custody_personal_atm')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.CUSTODY_PERSONAL_ATM' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('custody_personal_atm')">{{ 'SERVICE_ORDER.CUSTODY_PERSONAL_ATM' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'custody_personal_atm')">{{ 'SERVICE_ORDER.CUSTODY_PERSONAL_ATM' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'custody_personal_atm')">{{ 'SERVICE_ORDER.CUSTODY_PERSONAL_ATM' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'custody_personal_atm')">{{ 'SERVICE_ORDER.CUSTODY_PERSONAL_ATM' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.CUSTODY_VAULT' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="custody_vault" [class.is-invalid]="isControlInvalid('custody_vault')"
                [class.is-valid]="isControlValid('custody_vault')" formControlName="custody_vault" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('custody_vault')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.CUSTODY_VAULT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('custody_vault')">{{ 'SERVICE_ORDER.CUSTODY_VAULT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'custody_vault')">{{ 'SERVICE_ORDER.CUSTODY_VAULT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'custody_vault')">{{ 'SERVICE_ORDER.CUSTODY_VAULT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'custody_vault')">{{ 'SERVICE_ORDER.CUSTODY_VAULT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.CUSTODY_CPV' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="custody_cpv" [class.is-invalid]="isControlInvalid('custody_cpv')"
                [class.is-valid]="isControlValid('custody_cpv')" formControlName="custody_cpv" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('custody_cpv')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.CUSTODY_CPV' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('custody_cpv')">{{ 'SERVICE_ORDER.CUSTODY_CPV' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'custody_cpv')">{{ 'SERVICE_ORDER.CUSTODY_CPV' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'custody_cpv')">{{ 'SERVICE_ORDER.CUSTODY_CPV' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'custody_cpv')">{{ 'SERVICE_ORDER.CUSTODY_CPV' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.PIECES' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="pieces" [class.is-invalid]="isControlInvalid('pieces')"
                [class.is-valid]="isControlValid('pieces')" formControlName="pieces"/>
              <div class="feedback" *ngIf="!isControlTouched('pieces')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.PIECES' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('pieces')">{{ 'SERVICE_ORDER.PIECES' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'pieces')">{{ 'SERVICE_ORDER.PIECES' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'pieces')">{{ 'SERVICE_ORDER.PIECES' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'pieces')">{{ 'SERVICE_ORDER.PIECES' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.FIXED_COSTS_PACKING' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="fixed_costs_packing" [class.is-invalid]="isControlInvalid('fixed_costs_packing')"
                [class.is-valid]="isControlValid('fixed_costs_packing')" formControlName="fixed_costs_packing" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('fixed_costs_packing')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.FIXED_COSTS_PACKING' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('fixed_costs_packing')">{{ 'SERVICE_ORDER.FIXED_COSTS_PACKING' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'fixed_costs_packing')">{{ 'SERVICE_ORDER.FIXED_COSTS_PACKING' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'fixed_costs_packing')">{{ 'SERVICE_ORDER.FIXED_COSTS_PACKING' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'fixed_costs_packing')">{{ 'SERVICE_ORDER.FIXED_COSTS_PACKING' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>       
            <div class="col-lg-12">
              <br>
              <h3 class="text-dark font-weight-bold my-1 mr-5 ng-star-inserted">{{ 'SERVICE_ORDER.EXCESS' | translate }}</h3>
              <br>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.EXCESS_TRAVELS' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="excess_travels" [class.is-invalid]="isControlInvalid('excess_travels')"
                [class.is-valid]="isControlValid('excess_travels')" formControlName="excess_travels" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('excess_travels')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.EXCESS_TRAVELS' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('excess_travels')">{{ 'SERVICE_ORDER.EXCESS_TRAVELS' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'excess_travels')">{{ 'SERVICE_ORDER.EXCESS_TRAVELS' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'excess_travels')">{{ 'SERVICE_ORDER.EXCESS_TRAVELS' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'excess_travels')">{{ 'SERVICE_ORDER.EXCESS_TRAVELS' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.EXCESS_TRAVELS_DIRECTS' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="excess_travels_directs" [class.is-invalid]="isControlInvalid('excess_travels_directs')"
                [class.is-valid]="isControlValid('excess_travels_directs')" formControlName="excess_travels_directs" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('excess_travels_directs')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.EXCESS_TRAVELS_DIRECTS' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('excess_travels_directs')">{{ 'SERVICE_ORDER.EXCESS_TRAVELS_DIRECTS' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'excess_travels_directs')">{{ 'SERVICE_ORDER.EXCESS_TRAVELS_DIRECTS' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'excess_travels_directs')">{{ 'SERVICE_ORDER.EXCESS_TRAVELS_DIRECTS' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'excess_travels_directs')">{{ 'SERVICE_ORDER.EXCESS_TRAVELS_DIRECTS' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.EXCESS_APPRAISAL' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="excess_appraisal" [class.is-invalid]="isControlInvalid('excess_appraisal')"
                [class.is-valid]="isControlValid('excess_appraisal')" formControlName="excess_appraisal" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('excess_appraisal')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.EXCESS_APPRAISAL' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('excess_appraisal')">{{ 'SERVICE_ORDER.EXCESS_APPRAISAL' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'excess_appraisal')">{{ 'SERVICE_ORDER.EXCESS_APPRAISAL' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'excess_appraisal')">{{ 'SERVICE_ORDER.EXCESS_APPRAISAL' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'excess_appraisal')">{{ 'SERVICE_ORDER.EXCESS_APPRAISAL' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.EXCESS_HANDLING' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="excess_handling" [class.is-invalid]="isControlInvalid('excess_handling')"
                [class.is-valid]="isControlValid('excess_handling')" formControlName="excess_handling" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('excess_handling')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.EXCESS_HANDLING' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('excess_handling')">{{ 'SERVICE_ORDER.EXCESS_HANDLING' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'excess_handling')">{{ 'SERVICE_ORDER.EXCESS_HANDLING' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'excess_handling')">{{ 'SERVICE_ORDER.EXCESS_HANDLING' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'excess_handling')">{{ 'SERVICE_ORDER.EXCESS_HANDLING' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.EXCESS_MATERIALS' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="excess_materials" [class.is-invalid]="isControlInvalid('excess_materials')"
                [class.is-valid]="isControlValid('excess_materials')" formControlName="excess_materials" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('excess_materials')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.EXCESS_MATERIALS' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('excess_materials')">{{ 'SERVICE_ORDER.EXCESS_MATERIALS' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'excess_materials')">{{ 'SERVICE_ORDER.EXCESS_MATERIALS' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'excess_materials')">{{ 'SERVICE_ORDER.EXCESS_MATERIALS' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'excess_materials')">{{ 'SERVICE_ORDER.EXCESS_MATERIALS' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.EXCESS_VIGILANT_EXTRA_HOURS' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="excess_vigilant_extra_hours" [class.is-invalid]="isControlInvalid('excess_vigilant_extra_hours')"
                [class.is-valid]="isControlValid('excess_vigilant_extra_hours')" formControlName="excess_vigilant_extra_hours" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('excess_vigilant_extra_hours')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.EXCESS_VIGILANT_EXTRA_HOURS' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('excess_vigilant_extra_hours')">{{ 'SERVICE_ORDER.EXCESS_VIGILANT_EXTRA_HOURS' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'excess_vigilant_extra_hours')">{{ 'SERVICE_ORDER.EXCESS_VIGILANT_EXTRA_HOURS' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'excess_vigilant_extra_hours')">{{ 'SERVICE_ORDER.EXCESS_VIGILANT_EXTRA_HOURS' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'excess_vigilant_extra_hours')">{{ 'SERVICE_ORDER.EXCESS_VIGILANT_EXTRA_HOURS' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.EXCESS_CUSTODY_PERSONAL_ATM' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="excess_custody_personal_atm" [class.is-invalid]="isControlInvalid('excess_custody_personal_atm')"
                [class.is-valid]="isControlValid('excess_custody_personal_atm')" formControlName="excess_custody_personal_atm" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('excess_custody_personal_atm')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.EXCESS_CUSTODY_PERSONAL_ATM' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('excess_custody_personal_atm')">{{ 'SERVICE_ORDER.EXCESS_CUSTODY_PERSONAL_ATM' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'excess_custody_personal_atm')">{{ 'SERVICE_ORDER.EXCESS_CUSTODY_PERSONAL_ATM' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'excess_custody_personal_atm')">{{ 'SERVICE_ORDER.EXCESS_CUSTODY_PERSONAL_ATM' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'excess_custody_personal_atm')">{{ 'SERVICE_ORDER.EXCESS_CUSTODY_PERSONAL_ATM' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>        
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.EXCESS_CUSTODY_VAULT' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="excess_custody_vault" [class.is-invalid]="isControlInvalid('excess_custody_vault')"
                [class.is-valid]="isControlValid('excess_custody_vault')" formControlName="excess_custody_vault" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('excess_custody_vault')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.EXCESS_CUSTODY_VAULT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('excess_custody_vault')">{{ 'SERVICE_ORDER.EXCESS_CUSTODY_VAULT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'excess_custody_vault')">{{ 'SERVICE_ORDER.EXCESS_CUSTODY_VAULT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'excess_custody_vault')">{{ 'SERVICE_ORDER.EXCESS_CUSTODY_VAULT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'excess_custody_vault')">{{ 'SERVICE_ORDER.EXCESS_CUSTODY_VAULT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>            
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.EXCESS_CUSTODY_VAULT' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="excess_custody_vault" [class.is-invalid]="isControlInvalid('excess_custody_vault')"
                [class.is-valid]="isControlValid('excess_custody_vault')" formControlName="excess_custody_vault" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('excess_custody_vault')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.EXCESS_CUSTODY_VAULT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('excess_custody_vault')">{{ 'SERVICE_ORDER.EXCESS_CUSTODY_VAULT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'excess_custody_vault')">{{ 'SERVICE_ORDER.EXCESS_CUSTODY_VAULT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'excess_custody_vault')">{{ 'SERVICE_ORDER.EXCESS_CUSTODY_VAULT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'excess_custody_vault')">{{ 'SERVICE_ORDER.EXCESS_CUSTODY_VAULT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.EXCESS_PIECES' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="excess_pieces" [class.is-invalid]="isControlInvalid('excess_pieces')"
                [class.is-valid]="isControlValid('excess_pieces')" formControlName="excess_pieces" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('excess_pieces')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.EXCESS_PIECES' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('excess_pieces')">{{ 'SERVICE_ORDER.EXCESS_PIECES' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'excess_pieces')">{{ 'SERVICE_ORDER.EXCESS_PIECES' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'excess_pieces')">{{ 'SERVICE_ORDER.EXCESS_PIECES' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'excess_pieces')">{{ 'SERVICE_ORDER.EXCESS_PIECES' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>    
            <div class="col-lg-12">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.NOTE' | translate }}</label>
              <p-editor formControlName="note" [style]="{'height':'200px'}" placeholder="{{ 'SERVICE_ORDER.NOTE' | translate }}"></p-editor>
            </div>
          </div>
          <div *ngIf="model.id && authService.hasPermission('view_origindestination')">
            <app-origin-destinations [serviceOrderId]="model.id"></app-origin-destinations>
          </div>
          <div *ngIf="model.id && authService.hasPermission('view_chest')">
            <app-chests [serviceOrderId]="model.id"></app-chests>
          </div>
          <div *ngIf="model.id && authService.hasPermission('view_stocktransaction')">
            <app-stock-transactions [serviceOrderId]="model.id"></app-stock-transactions>
          </div>
          <div class="float-right">
            <a class="btn btn-default font-weight-bold mr-2" routerLink="{{parent}}/serviceorders">{{ 'COMMON.CANCEL' | translate }}</a>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(false)" *ngIf="!view">{{ 'COMMON.SAVE' | translate }}</button>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(true)" *ngIf="!view">{{ 'COMMON.SAVE_AND_EXIT' | translate }}</button>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
</div>