<div class="card card-custom gutter-b">
  <ng-container *ngIf="requesting">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="model">
          {{ (id ? 'COMMON.EDIT' : 'COMMON.NEW') | translate }}
          <span *ngIf="model && model.id">{{ 'SERVICE_ORDER.CONTRACT' | translate }} #{{model.contract.id}} - {{ 'SERVICE_ORDER.SERVICE_ORDER' | translate }} #{{ model.id }} </span>
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-light" routerLink="{{parent}}/serviceorders">
        <i class="fa fa-arrow-left"></i>{{ 'COMMON.BACK' | translate }}
      </a>
      <button class="btn btn-secondary ml-2" (click)="reset()">
        <i class="fa fa-redo"></i>{{ 'COMMON.RESET' | translate }}
      </button>
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
      <li class="nav-item cursor-pointer" (click)="changeTab(tabs.BASIC_TAB)">
        <a class="nav-link" data-toggle="tab" role="tab" [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
          [class.active]="activeTabId === tabs.BASIC_TAB">
          {{ 'COMMON.BASIC_INFO' | translate }}
        </a>
      </li>
      <!-- <li *ngIf="model && model.id" class="nav-item cursor-pointer" (click)="changeTab(tabs.PROFILE)">
        <a class="nav-link" data-toggle="tab" role="button" [attr.aria-selected]="activeTabId === tabs.PROFILE"
          [class.active]="activeTabId === tabs.PROFILE">Profile</a>
      </li> -->
    </ul>

    <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
      <div class="mt-5" *ngIf="model">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.COMPANY' | translate }}</label>
              <app-company-autocomplete
              name="company" [valid]="isControlValid('company')" [touched]="isControlTouched('company')" [class.is-invalid]="isControlInvalid('company')"
              [class.is-valid]="isControlValid('company')" formControlName="company" id="company" [model]="model.company"></app-company-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('company')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.COMPANY' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('company')">{{ 'SERVICE_ORDER.COMPANY' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'company')">{{ 'SERVICE_ORDER.COMPANY' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'company')">{{ 'SERVICE_ORDER.COMPANY' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'company')">{{ 'SERVICE_ORDER.COMPANY' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.EMPLOYEE' | translate }}</label>
              <app-employee-autocomplete
              name="employee" [valid]="isControlValid('employee')" [touched]="isControlTouched('employee')" [class.is-invalid]="isControlInvalid('employee')"
              [class.is-valid]="isControlValid('employee')" formControlName="employee" id="employee" [model]="model.employee"></app-employee-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('employee')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.EMPLOYEE' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('employee')">{{ 'SERVICE_ORDER.EMPLOYEE' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'employee')">{{ 'SERVICE_ORDER.EMPLOYEE' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'employee')">{{ 'SERVICE_ORDER.EMPLOYEE' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'employee')">{{ 'SERVICE_ORDER.EMPLOYEE' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.CONTRACT' | translate }}</label>
              <app-contract-autocomplete
              name="contract" [valid]="isControlValid('contract')" [touched]="isControlTouched('contract')" [class.is-invalid]="isControlInvalid('contract')"
              [class.is-valid]="isControlValid('contract')" formControlName="contract" id="contract" [model]="model.contract"></app-contract-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('contract')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.CONTRACT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('contract')">{{ 'SERVICE_ORDER.CONTRACT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'contract')">{{ 'SERVICE_ORDER.CONTRACT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'contract')">{{ 'SERVICE_ORDER.CONTRACT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'contract')">{{ 'SERVICE_ORDER.CONTRACT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.COMPANY_CONTACT' | translate }}</label>
              <app-company-contact-autocomplete
              name="company_contact" [valid]="isControlValid('company_contact')" [touched]="isControlTouched('company_contact')" [class.is-invalid]="isControlInvalid('company_contact')"
              [class.is-valid]="isControlValid('company_contact')" formControlName="company_contact" id="company_contact" [model]="model.company_contact"></app-company-contact-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('company_contact')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.COMPANY_CONTACT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('company_contact')">{{ 'SERVICE_ORDER.COMPANY_CONTACT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'company_contact')">{{ 'SERVICE_ORDER.COMPANY_CONTACT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'company_contact')">{{ 'SERVICE_ORDER.COMPANY_CONTACT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'company_contact')">{{ 'SERVICE_ORDER.COMPANY_CONTACT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.OFFICE' | translate }}</label>
              <app-office-autocomplete
              name="office" [valid]="isControlValid('office')" [touched]="isControlTouched('office')" [class.is-invalid]="isControlInvalid('office')"
              [class.is-valid]="isControlValid('office')" formControlName="office" id="office" [model]="model.office"></app-office-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('office')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.OFFICE' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('office')">{{ 'SERVICE_ORDER.OFFICE' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'office')">{{ 'SERVICE_ORDER.OFFICE' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'office')">{{ 'SERVICE_ORDER.OFFICE' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'office')">{{ 'SERVICE_ORDER.OFFICE' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.PRODUCTANDSERVICE' | translate }}</label>
              <app-product-and-service-select
              name="product_and_service" [valid]="isControlValid('product_and_service')" [touched]="isControlTouched('product_and_service')" [class.is-invalid]="isControlInvalid('product_and_service')"
              [class.is-valid]="isControlValid('product_and_service')" formControlName="product_and_service" id="product_and_service" [model]="model.product_and_service"></app-product-and-service-select>
              <div class="feedback" *ngIf="!isControlTouched('product_and_service')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.PRODUCTANDSERVICE' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('product_and_service')">{{ 'SERVICE_ORDER.PRODUCTANDSERVICE' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'product_and_service')">{{ 'SERVICE_ORDER.PRODUCTANDSERVICE' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'product_and_service')">{{ 'SERVICE_ORDER.PRODUCTANDSERVICE' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'product_and_service')">{{ 'SERVICE_ORDER.PRODUCTANDSERVICE' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.STATUS' | translate}}</label>
              <p-dropdown [styleClass]="getValidClass(isControlValid('status'))" [options]="optionsStatus" optionLabel="key" name="status" formControlName="status" placeholder="Selecciona Status"></p-dropdown>
              <div class="feedback" *ngIf="!isControlTouched('status')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.STATUS' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('status')">{{ 'SERVICE_ORDER.STATUS' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'status')">{{ 'SERVICE_ORDER.STATUS' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'status')">{{ 'SERVICE_ORDER.STATUS' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'status')">{{ 'SERVICE_ORDER.STATUS' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
            </div> 
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.TOTAL_AMOUNT' | translate }}</label>
              <!-- <label style="float:right; color: red;">{{ total_amount.value * currency.value?.exchange_rate | currency }} {{office?.currency?.symbol}}</label> -->
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="total_amount" [class.is-invalid]="isControlInvalid('total_amount')"
                [class.is-valid]="isControlValid('total_amount')" formControlName="total_amount" 
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('total_amount')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.TOTAL_AMOUNT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('total_amount')">{{ 'SERVICE_ORDER.TOTAL_AMOUNT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'total_amount')">{{ 'SERVICE_ORDER.TOTAL_AMOUNT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'total_amount')">{{ 'SERVICE_ORDER.TOTAL_AMOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'total_amount')">{{ 'SERVICE_ORDER.TOTAL_AMOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div> 
            <div class="col-lg-12">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.NOTE' | translate }}</label>
              <p-editor formControlName="note" [style]="{'height':'200px'}" placeholder="{{ 'SERVICE_ORDER.NOTE' | translate }}"></p-editor>
            </div>
          </div>
          <div *ngIf="model.id">
            <app-origin-destinations [serviceOrderId]="model.id"></app-origin-destinations>
          </div>
          <div class="float-right">
            <a class="btn btn-default font-weight-bold mr-2" routerLink="{{parent}}/serviceorders">{{ 'COMMON.CANCEL' | translate }}</a>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(false)">{{ 'COMMON.SAVE' | translate }}</button>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(true)">{{ 'COMMON.SAVE_AND_EXIT' | translate }}</button>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
</div>