<!--begin::Header-->
<ng-container *ngIf="extrasNotificationsDropdownStyle === 'light'">
  <div class="d-flex flex-column pt-12 bg-dark-o-5 rounded-top">
    <!--begin::Title-->
    <h4 class="d-flex flex-center">
      <span class="text-dark">{{'COMMON.TOTAL' | translate }} </span>
      <span
        class="btn btn-text btn-success btn-sm font-weight-bold btn-font-md ml-2"> 
        {{models.length}} {{'COMMON.NEWS' | translate }}
      </span>
    </h4>
    <!--end::Title-->

    <!--begin::Tabs-->
    <ul
      class="nav nav-bold nav-tabs nav-tabs-line nav-tabs-line-3x nav-tabs-primary mt-3 px-8"
      role="tablist"
    >
      <li class="nav-item">
        <a
          class="nav-link cursor-pointer"
          data-toggle="tab"
          (click)="setActiveTabId('topbar_notifications_notifications')"
          [ngClass]="getActiveCSSClasses('topbar_notifications_notifications')"
          >{{ 'NOTIFICATION.NOTIFICATIONS' | translate }}</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link cursor-pointer"
          data-toggle="tab"
          (click)="setActiveTabId('topbar_notifications_events')"
          [ngClass]="getActiveCSSClasses('topbar_notifications_events')"
          >{{ 'NOTIFICATION.EVENTS' | translate }}</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link cursor-pointer"
          data-toggle="tab"
          (click)="setActiveTabId('topbar_notifications_logs')"
          [ngClass]="getActiveCSSClasses('topbar_notifications_logs')"
          >{{ 'NOTIFICATION.ALERTS' | translate }}</a
        >
      </li>
    </ul>
    <!--end::Tabs-->
  </div>
</ng-container>
<ng-container *ngIf="extrasNotificationsDropdownStyle === 'dark'">
  <div
    class="d-flex flex-column pt-12 bgi-size-cover bgi-no-repeat rounded-top"
    style="background-image: url('./assets/media/misc/bg-1.jpg');"
  >
    <!--begin::Title-->
    <h4 class="d-flex flex-center rounded-top">
      <span class="text-white">{{'COMMON.TOTAL' | translate }} </span>
      <span
        class="btn btn-text btn-success btn-sm font-weight-bold btn-font-md ml-2"> 
        {{models.length}} {{'COMMON.NEWS' | translate }}
      </span>
    </h4>
    <!--end::Title-->

    <!--begin::Tabs-->
    <ul
      class="nav nav-bold nav-tabs nav-tabs-line nav-tabs-line-3x nav-tabs-line-transparent-white nav-tabs-line-active-border-success mt-3 px-8"
      role="tablist"
    >
      <li class="nav-item">
        <a
          class="nav-link cursor-pointer"
          data-toggle="tab"
          (click)="setActiveTabId('topbar_notifications_notifications')"
          [ngClass]="getActiveCSSClasses('topbar_notifications_notifications')"
          >{{ 'NOTIFICATION.NOTIFICATIONS' | translate }}</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link cursor-pointer"
          data-toggle="tab"
          (click)="setActiveTabId('topbar_notifications_events')"
          [ngClass]="getActiveCSSClasses('topbar_notifications_events')"
          >{{ 'NOTIFICATION.EVENTS' | translate }}</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link cursor-pointer"
          data-toggle="tab"
          (click)="setActiveTabId('topbar_notifications_logs')"
          [ngClass]="getActiveCSSClasses('topbar_notifications_logs')"
          >{{ 'NOTIFICATION.ALERTS' | translate }}</a
        >
      </li>
    </ul>
    <!--end::Tabs-->
  </div>
</ng-container>
<!--end::Header-->

<!--begin::Content-->
<div class="tab-content">
  <!--begin::Tabpane-->
  <div
    class="tab-pane pt-8 pb-4 px-8"
    id="topbar_notifications_notifications"
    role="tabpanel"
    [ngClass]="getActiveCSSClasses('topbar_notifications_notifications')"
  >
    <!--begin::Scroll-->
    <div
      class="scroll pr-7 mr-n7 ps"
      style="position: relative; min-height: 100px; max-height: 300px;"
      *ngIf="!showMessageNoNotification"
      perfectScrollbar
    >
      <!--begin::Item-->
      <div *ngFor="let notification of models">
        <div class="d-flex align-items-center mb-6" 
        *ngIf="notification.type === 'Notificación'">
          <!--begin::Symbol-->
          <div class="symbol symbol-40 symbol-light-primary mr-5">
            <span class="symbol-label">
              <span
                [inlineSVG]="'./assets/media/svg/icons/Home/Library.svg'"
                cacheSVG="true"
                class="svg-icon svg-icon-xl svg-icon-primary"
              ></span>
            </span>
          </div>
          <!--end::Symbol-->
  
          <!--begin::Text-->
          <div class="d-flex flex-column font-weight-bold">
            <a href="#" class="text-dark text-hover-primary mb-1 font-size-lg">
              {{ notification.title }}
            </a>
            <span class="text-muted">{{ notification.description }}</span>
          </div>
          <!--end::Text-->
        </div>
      </div>
      <!--end::Item-->
    </div>
    <!--end::Scroll-->

    <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel"
      [ngClass]="getActiveCSSClasses('topbar_notifications_logs')" *ngIf="showMessageNoNotification">
      <!--begin::Nav-->
      <div class="d-flex flex-center text-center text-muted min-h-100px pb-4">
        {{'NOTIFICATION.ALL_CAUGHT_UP' | translate }}
        <br />
        {{'NOTIFICATION.NO_NEW_NOTIFICATIONS' | translate }}
      </div>
      <!--end::Nav-->
    </div>

    <!--begin::Action-->
    <!-- <div class="d-flex flex-center pt-7">
      <a href="#" class="btn btn-light-primary font-weight-bold text-center">
        See All
      </a>
    </div> -->
    <!--end::Action-->
  </div>
  <!--end::Tabpane-->

  <!--begin::Tabpane-->
  <div class="tab-pane pt-8 pb-4 px-8" id="topbar_notifications_events" role="tabpanel"
    [ngClass]="getActiveCSSClasses('topbar_notifications_events')" >
    <!--begin::Scroll-->
    <div
      class="scroll pr-7 mr-n7 ps"
      style="position: relative; min-height: 100px; max-height: 300px;"
      *ngIf="!showMessageNoEvent"
      perfectScrollbar
    >
      <!--begin::Item-->
      <div *ngFor="let event of models">
        <div class="d-flex align-items-center mb-6" 
        *ngIf="event.type === 'Evento'">
          <!--begin::Symbol-->
          <div class="symbol symbol-40 symbol-light-danger mr-5">
            <span class="symbol-label">
              <span
                [inlineSVG]="'./assets/media/svg/icons/Code/Puzzle.svg'"
                cacheSVG="true"
                class="svg-icon svg-icon-xl svg-icon-danger"
              ></span>
            </span>
          </div>
          <!--end::Symbol-->
  
          <!--begin::Text-->
          <div class="d-flex flex-column font-weight-bold">
            <a href="#" class="text-dark text-hover-primary mb-1 font-size-lg">
              {{ event.title }}
            </a>
            <span class="text-muted">{{ event.description }}</span>
          </div>
          <!--end::Text-->
        </div>
      </div>
      <!--end::Item-->
    </div>
    <!--end::Scroll-->

    <div class="tab-pane" id="topbar_notifications_events" role="tabpanel"
      [ngClass]="getActiveCSSClasses('topbar_notifications_events')" *ngIf="showMessageNoEvent">
      <!--begin::Nav-->
      <div class="d-flex flex-center text-center text-muted min-h-100px pb-4">
        {{'NOTIFICATION.ALL_CAUGHT_UP' | translate }}
        <br />
        {{'NOTIFICATION.NO_NEW_NOTIFICATIONS' | translate }}
      </div>
      <!--end::Nav-->
    </div>

  </div>
  <!--end::Tabpane-->

  <!--begin::Tabpane-->
  <div class="tab-pane pt-8 pb-4 px-8" id="topbar_notifications_logs" role="tabpanel"
    [ngClass]="getActiveCSSClasses('topbar_notifications_logs')" >
    <!--begin::Scroll-->
    <div
      class="scroll pr-7 mr-n7 ps"
      style="position: relative; min-height: 100px; max-height: 300px;"
      *ngIf="!showMessageNoAlert"
      perfectScrollbar
    >
      <!--begin::Item-->
      <div *ngFor="let alert of models">
        <div class="d-flex align-items-center mb-6" 
        *ngIf="alert.type === 'Alerta'">
          <!--begin::Symbol-->
          <div class="symbol symbol-40 symbol-light-warning mr-5">
            <span class="symbol-label">
              <span
                [inlineSVG]="'./assets/media/svg/icons/Code/Warning-2.svg'"
                cacheSVG="true"
                class="svg-icon svg-icon-xl svg-icon-warning"
              ></span>
            </span>
          </div>
          <!--end::Symbol-->
  
          <!--begin::Text-->
          <div class="d-flex flex-column font-weight-bold">
            <a href="#" class="text-dark text-hover-primary mb-1 font-size-lg">
              {{ alert.title }}
            </a>
            <span class="text-muted">{{ alert.description }}</span>
          </div>
          <!--end::Text-->
        </div>
      </div>
      <!--end::Item-->
    </div>
    <!--end::Scroll-->

    <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel"
      [ngClass]="getActiveCSSClasses('topbar_notifications_logs')" *ngIf="showMessageNoAlert">
      <!--begin::Nav-->
      <div class="d-flex flex-center text-center text-muted min-h-100px pb-4">
        {{'NOTIFICATION.ALL_CAUGHT_UP' | translate }}
        <br />
        {{'NOTIFICATION.NO_NEW_NOTIFICATIONS' | translate }}
      </div>
      <!--end::Nav-->
    </div>

  </div>
  <!--end::Tabpane-->
</div>
<!--end::Content-->
