<div class="card card-custom gutter-b">
  <ng-container *ngIf="requesting">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="model">
          {{ (id ? 'COMMON.EDIT' : 'COMMON.NEW') | translate }}
          <span *ngIf="model && model.id">{{ 'INVOICE.INVOICE' | translate }} : {{ model.id }}</span>
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-light" routerLink="{{parent}}/invoices">
        <i class="fa fa-arrow-left"></i>{{ 'COMMON.BACK' | translate }}
      </a>
      <!-- <button class="btn btn-secondary ml-2" (click)="reset()">
        <i class="fa fa-redo"></i>{{ 'COMMON.RESET' | translate }}
      </button> -->
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
      <li class="nav-item cursor-pointer" (click)="changeTab(tabs.BASIC_TAB)">
        <a class="nav-link" data-toggle="tab" role="tab" [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
          [class.active]="activeTabId === tabs.BASIC_TAB">
          {{ 'COMMON.BASIC_INFO' | translate }}
        </a>
      </li>
      <!-- <li *ngIf="model && model.id" class="nav-item cursor-pointer" (click)="changeTab(tabs.DEPOSITFORMDETAIL_TAB)">
        <a class="nav-link" data-toggle="tab" role="button" [attr.aria-selected]="activeTabId === tabs.DEPOSITFORMDETAIL_TAB"
          [class.active]="activeTabId === tabs.DEPOSITFORMDETAIL_TAB" routerLink="{{parent}}/edit/{{model.id}}/depositformsdetails">{{ 'DEPOSITFORMDETAIL.DEPOSITFORMSDETAILS' | translate }}</a>
      </li> -->
    </ul>

    <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
      <div class="mt-5" *ngIf="model">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'INVOICE.INVOICENUMBER' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid"
                name="number" [class.is-invalid]="isControlInvalid('number')"
                [class.is-valid]="isControlValid('number')" formControlName="number" />
              <div class="feedback" *ngIf="!isControlTouched('number')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'INVOICE.INVOICENUMBER' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('number')">{{ 'INVOICE.INVOICENUMBER' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'number')">{{ 'INVOICE.INVOICENUMBER' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'number')">{{ 'INVOICE.INVOICENUMBER' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'number')">{{ 'INVOICE.INVOICENUMBER' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'INVOICE.EXPIRESIN' | translate }}</label>
              <p-dropdown [styleClass]="getValidClass(isControlValid('expires_in'))" [options]="optionsExpiresIn" optionLabel="key" name="expires_in" formControlName="expires_in" placeholder="Selecciona"></p-dropdown>
              <div class="feedback" *ngIf="!isControlTouched('expires_in')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'INVOICE.STATUS' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('expires_in')">{{ 'INVOICE.STATUS' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'expires_in')">{{ 'INVOICE.STATUS' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'expires_in')">{{ 'INVOICE.STATUS' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'expires_in')">{{ 'INVOICE.STATUS' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
            </div>
            <!-- <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'INVOICE.CURRENCY' | translate }}</label>
              <app-currency-select
              name="currency" [valid]="isControlValid('currency')" [touched]="isControlTouched('currency')" [class.is-invalid]="isControlInvalid('currency')"
              [class.is-valid]="isControlValid('currency')" formControlName="currency" id="currency" [model]="model.currency"></app-currency-select>
              <div class="feedback" *ngIf="!isControlTouched('currency')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'INVOICE.CURRENCY' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('currency')">{{ 'INVOICE.CURRENCY' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'currency')">{{ 'INVOICE.CURRENCY' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'currency')">{{ 'INVOICE.CURRENCY' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'currency')">{{ 'INVOICE.CURRENCY' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div> -->
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'INVOICE.DATESERVICE' | translate }}</label>
              <p-calendar dateFormat="dd/mm/yy" [inputStyleClass]="getValidClass(isControlValid('date'))" name="date" formControlName="date"></p-calendar>
              <div class="feedback" *ngIf="!isControlTouched('date')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'INVOICE.DATESERVICE' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('date')">{{ 'INVOICE.DATESERVICE' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'date')">{{ 'INVOICE.DATESERVICE' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'date')">{{ 'INVOICE.DATESERVICE' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'date')">{{ 'INVOICE.DATESERVICE' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'SERVICE_ORDER.CONTRACT' | translate }}</label>
              <app-contract-autocomplete
              name="contract" [valid]="isControlValid('contract')" [touched]="isControlTouched('contract')" [class.is-invalid]="isControlInvalid('contract')"
              [class.is-valid]="isControlValid('contract')" formControlName="contract" id="contract" (model)="contract" (ngModelChange)="getValues($event)"></app-contract-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('contract')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'SERVICE_ORDER.CONTRACT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('contract')">{{ 'SERVICE_ORDER.CONTRACT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'contract')">{{ 'SERVICE_ORDER.CONTRACT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'contract')">{{ 'SERVICE_ORDER.CONTRACT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'contract')">{{ 'SERVICE_ORDER.CONTRACT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'INVOICE.CLIENTNAME' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid"
                name="company_name" [class.is-invalid]="isControlInvalid('company_name')"
                [class.is-valid]="isControlValid('company_name')" formControlName="company_name" />
              <div class="feedback" *ngIf="!isControlTouched('company_name')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'COMPANY.NAME' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('company_name')">{{ 'INVOICE.CLIENTNAME' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'company_name')">{{ 'INVOICE.CLIENTNAME' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'company_name')">{{ 'INVOICE.CLIENTNAME' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'company_name')">{{ 'INVOICE.CLIENTNAME' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <!-- <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'COMPANY.CODE' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid"
                name="company_code" [class.is-invalid]="isControlInvalid('company_code')"
                [class.is-valid]="isControlValid('company_code')" formControlName="company_code" />
              <div class="feedback" *ngIf="!isControlTouched('company_code')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'COMPANY.CODE' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('company_code')">{{ 'COMPANY.CODE' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'company_code')">{{ 'COMPANY.CODE' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'company_code')">{{ 'COMPANY.CODE' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'company_code')">{{ 'COMPANY.CODE' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'COMPANY.IDENTIFICATION_NUMBER' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid"
                name="company_identification" [class.is-invalid]="isControlInvalid('company_identification')"
                [class.is-valid]="isControlValid('company_identification')" formControlName="company_identification" />
              <div class="feedback" *ngIf="!isControlTouched('company_identification')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'COMPANY.IDENTIFICATION_NUMBER' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('company_identification')">{{ 'COMPANY.IDENTIFICATION_NUMBER' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'company_identification')">{{ 'COMPANY.IDENTIFICATION_NUMBER' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'company_identification')">{{ 'COMPANY.IDENTIFICATION_NUMBER' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'company_identification')">{{ 'COMPANY.IDENTIFICATION_NUMBER' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div> -->
            <div class="col-lg-12" style="display: flex;padding: 5px; margin-bottom: 5px;">              
              <div>
                <a title="{{ 'COMMON.VERIFICATION' | translate }}" class="btn btn-icon btn-light btn-hover-warning btn-sm text-warning" 
                  style="margin-right: 5px;" (click)="addItem($event)">
                  <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Plus.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-md svg-icon-warning">
                  </span>
                </a>
              </div>
              <div>
                <a title="{{ 'COMMON.VERIFICATION' | translate }}" class="btn btn-icon btn-light btn-hover-warning btn-sm text-warning" 
                  style="margin-right: 5px;" (click)="deleteItem($event)">
                  <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Minus.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-md svg-icon-warning">
                  </span>
                </a>
              </div>            
            </div>            
            <!-- <div class="col-lg-4">
              <label>{{ 'DEPOSITFORM.CURRENCIES' | translate }}</label>
              <p-multiSelect class="form-control form-control-solid" [options]="currencyOptions" formControlName="selectedCurrencies" optionLabel="name" (onChange)="onMultiSelectChange($event)"></p-multiSelect>
            </div> -->
            <div class="col-lg-12" style="background-color: #e9e9e9; display: flex;padding: 5px; margin-bottom: 10px; margin-top: 10px;">              
              <div class="col-lg-2 invoice-text">
                <span>#</span>
              </div>
              <div class="col-lg-5 invoice-text">
                <span>{{ 'INVOICE.DESCRIPTION' | translate }}</span>
              </div>
              <div class="col-lg-2 invoice-text">
                <span>{{ 'INVOICE.QUANTITY' | translate }}</span>
              </div>
              <div class="col-lg-3 invoice-text">
                <span>{{ 'INVOICE.AMOUNT' | translate }}</span>
              </div>
            </div>
            <div class="form-group row"  formArrayName="invoice_items">
              <div class="col-12" *ngFor="let control of dynamicFormArray.controls; let i = index" style="margin-bottom: 5px;">
                <div class="row" [formGroupName]="i">
                  <div class="col-lg-2" style="font-size: 16px; align-self: center;">
                    <span>{{ i + 1 }}</span>
                  </div>
                  <div class="col-lg-5">
                    <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                      name="item_description" formControlName="item_description" 
                      [class.is-invalid]="arrayIsControlInvalid('item_description',i)" [class.is-valid]="arrayIsControlValid('item_description',i)" />
                      <div class="feedback" *ngIf="!arrayIsControlTouched('item_description',i)">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'INVOICE.DESCRIPTION' | translate }}</b></div>
                      <div class="valid-feedback" *ngIf="arrayIsControlValid('item_description',i)">{{ 'INVOICE.DESCRIPTION' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
                      <div class="invalid-feedback" *ngIf="arrayControlHasError('required', 'item_description', i)">{{ 'INVOICE.DESCRIPTION' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
                      <div class="invalid-feedback" *ngIf="arrayControlHasError('minlength', 'item_description', i)">{{ 'INVOICE.DESCRIPTION' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
                      <div class="invalid-feedback" *ngIf="arrayControlHasError('maxLength', 'item_description', i)">{{ 'INVOICE.DESCRIPTION' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
                  </div> 
                  <div class="col-lg-2">
                    <select class="form-control form-control-lg form-control-solid" formControlName="quantity" (change)="calcTotal()">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                  <div class="col-lg-3">
                    <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                      name="amount" formControlName="amount" (change)="calcTotal()" />
                  </div> 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 text-right" style="font-size: 18px; font-weight: 800;">
            <span>Subtotal: {{ formGroup.controls.subtotal.value }}</span>
          </div>
          <div class="col-lg-12 text-right" style="font-size: 18px; font-weight: 800;">
            <span>Total: {{ formGroup.controls.total.value }}</span>
          </div>

          <div class="float-right">
            <a class="btn btn-default font-weight-bold mr-2" routerLink="{{parent}}/invoices">{{ 'COMMON.CANCEL' | translate }}</a>
            <!-- <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(false)" *ngIf="!view">{{ 'COMMON.SAVE' | translate }}</button> -->
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(true)" *ngIf="!view">{{ 'COMMON.SAVE_AND_EXIT' | translate }}</button>
          </div>
        </form>
      </div>
    </ng-container>
    <!-- <ng-container *ngIf="activeTabId === tabs.DEPOSITFORMDETAIL_TAB">
      <div class="mt-5" *ngIf="model && model.id">
        <app-deposit-formdetail></app-deposit-formdetail>
      </div>
    </ng-container> -->
  </div>
</div>