<div class="ui-fluid">
    <div class="">
        <div class="ui-inputgroup">
            <p-autoComplete #input [suggestions]="models" (completeMethod)="loadLazy($event)" [size]="30" [minLength]="1" (change)="change($event)" (paste)="change($event)" (onSelect)="change($event)" [forceSelection]="true" delay="300" [(ngModel)]="value" field="name" placeholder="{{placeholder}}" [disabled]="disabled" [required]="required">
                <ng-template let-item pTemplate="item">
                    {{item.name}}
                </ng-template>
            </p-autoComplete>
            <span class="ui-inputgroup-addon"><i class="fa fa-refresh"></i></span>
        </div>
    </div>
</div>
