<div class="card card-custom gutter-b">
  <ng-container *ngIf="loading">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="model">
          {{ (id ? 'COMMON.EDIT' : 'COMMON.NEW') | translate }}
          <span *ngIf="model && model.id">'{{ model.id }} - {{ model.code }}</span>
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-light" routerLink="{{parent}}/vouchers">
        <i class="fa fa-arrow-left"> {{ 'COMMON.BACK' | translate }}</i>
      </a>
      <button class="btn btn-secondary ml-2" (click)="reset()">
        <i class="fa fa-redo"> {{ 'COMMON.RESET' | translate }}</i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
      <li class="nav-item cursor-pointer" (click)="changeTab(tabs.BASIC_TAB)">
        <a class="nav-link" data-toggle="tab" role="tab" [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
          [class.active]="activeTabId === tabs.BASIC_TAB">
          {{ 'COMMON.BASIC_INFO' | translate }}
        </a>
      </li>
      <!-- <li *ngIf="model && model.id" class="nav-item cursor-pointer" (click)="changeTab(tabs.OFFICE_TAB)">
        <a class="nav-link" data-toggle="tab" role="button" [attr.aria-selected]="activeTabId === tabs.OFFICE_TAB"
          [class.active]="activeTabId === tabs.OFFICE_TAB">Offices</a>
      </li> -->
    </ul>

    <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
      <div class="mt-5" *ngIf="model">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <!-- <div class="col-lg-4">
              <div class="image-input image-input-outline"
                id="kt_profile_logo" [class.image-input-empty]="!model.logo && !newLogo">
                <div class="image-input-wrapper" [style.backgroundImage]="model.logo" *ngIf="!newLogo"></div>
                <div class="image-input-wrapper" [style.backgroundImage]="'url(' + croppedImage + ')'" *ngIf="newLogo"></div>
                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  data-action="change" data-toggle="tooltip" title="" data-original-title="Change logo">
                  <i class="fa fa-pen icon-sm text-muted"></i>
                  <input type="file" name="logo" accept=".png, .jpg, .jpeg" (change)="fileChangeEvent($event)" formControlName="logo"/>
                </label>
                <span *ngIf="newLogo"
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  (click)="cancelLogo()"
                  data-action="remove" data-toggle="tooltip" title="" data-original-title="Cancel logo">
                  <i class="ki ki-bold-close icon-xs text-muted"></i>
                </span>
                <span *ngIf="!newLogo && model.logo"
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  (click)="deleteLogo()"
                  data-action="remove" data-toggle="tooltip" title="" data-original-title="Remove logo">
                  <i class="ki ki-bold-close icon-xs text-muted"></i>
                </span>
              </div>
              <span class="form-text text-muted">Allowed file types: png, jpg, jpeg. {{newLogo}}</span>
            </div> -->
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} Code</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                placeholder="Code" name="code" [class.is-invalid]="isControlInvalid('code')"
                [class.is-valid]="isControlValid('code')" formControlName="code" />
              <div class="feedback" *ngIf="!isControlTouched('code')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>Code</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('code')">Code  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'code')">Code  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'code')">Code {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'code')">Code {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30
                symbols</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} Amount</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                placeholder="Amount" name="amount" [class.is-invalid]="isControlInvalid('amount')"
                [class.is-valid]="isControlValid('amount')" formControlName="amount" 
                currencyMask [options]="{ prefix: '$ ', thousands: '.', decimal: ',', align: 'left', allowNegative: 'false' }"/>
              <div class="feedback" *ngIf="!isControlTouched('amount')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>Amount</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('amount')">Amount  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'amount')">Amount  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'amount')">Amount {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'amount')">Amount {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30
                symbols</div>
            </div>            
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} Company</label>
              <app-company-autocomplete
              placeholder="Company" name="company" [valid]="isControlValid('company')" [touched]="isControlTouched('company')" [class.is-invalid]="isControlInvalid('company')"
              [class.is-valid]="isControlValid('company')" formControlName="company" id="company" [model]="model.company"></app-company-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('company')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>Company</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('company')">Company  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'company')">Company  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'company')">Company {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1
                symbols</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'company')">Company {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30
                symbols</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} Location Origin</label>
              <app-location-autocomplete
              placeholder="Location Origin" name="location_origin" [valid]="isControlValid('location_origin')" [touched]="isControlTouched('location_origin')" [class.is-invalid]="isControlInvalid('location_origin')"
              [class.is-valid]="isControlValid('location_origin')" formControlName="location_origin" id="location_origin" [model]="model.location_origin" [disabled]="!company.valid" [addFilters]="[{key:'company', value: company.value.id}]"></app-location-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('location_origin')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>Location Origin</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('location_origin')">Location Origin  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'location_origin')">Location Origin  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'location_origin')">Location Origin {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'location_origin')">Location Origin {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30
                symbols</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} Location Destination</label>
              <app-location-autocomplete
              placeholder="Location Destination" name="location_destination" [valid]="isControlValid('location_destination')" [touched]="isControlTouched('location_destination')" [class.is-invalid]="isControlInvalid('location_destination')"
              [class.is-valid]="isControlValid('location_destination')" formControlName="location_destination" id="location_destination" [model]="model.location_destination" [disabled]="!company.valid" [addFilters]="[{key:'company', value: company.value.id}]"></app-location-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('location_destination')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>Location Destination</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('location_destination')">Location Destination  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'location_destination')">Location Destination  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'location_destination')">Location Destination {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1
                symbols</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'location_destination')">Location Destination {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30
                symbols</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} Count Packages</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                placeholder="Count Packages" name="count_packages" [class.is-invalid]="isControlInvalid('count_packages')"
                [class.is-valid]="isControlValid('count_packages')" formControlName="count_packages" />
              <div class="feedback" *ngIf="!isControlTouched('count_packages')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>Count Packages</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('count_packages')">Count Packages  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'count_packages')">Count Packages  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'count_packages')">Count Packages {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'count_packages')">Count Packages {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30
                symbols</div>
            </div>            
            <div class="col-lg-12">
              <label>Packages</label>
              <p-chips [styleClass]="getValidClass(isControlValid('packages'))" formControlName="packages" [allowDuplicate]="false"></p-chips>
              <div class="feedback" *ngIf="!isControlTouched('packages')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>Packages</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('packages')">Packages  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'packages')">Packages  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'packages')">Packages {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1
                item</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'packages')">Packages {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100
                items</div>
            </div>
            <!-- <div class="col-lg-4">
              <label>Verificated</label>
              <p-toggleButton class="form-control form-control-lg form-control-solid" formControlName="verificated" onLabel="true" offLabel="false"></p-toggleButton>
            </div> -->
          </div>
          <div class="float-right">
            <a class="btn btn-default font-weight-bold mr-2" routerLink="{{parent}}/vouchers">{{ 'COMMON.CANCEL' | translate }}</a>
            <!-- <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(false)">{{ 'COMMON.SAVE' | translate }}</button> -->
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(true)">{{ 'COMMON.SAVE_AND_EXIT' | translate }}</button>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
</div>