<div class="card card-custom gutter-b">
  <ng-container *ngIf="requesting">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="model">
          {{ (id ? 'COMMON.EDIT' : 'COMMON.NEW') | translate }}
          <span *ngIf="model && model.id">{{ 'PACKING.PACKING' | translate }} : {{ model.id }}</span>
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-light" routerLink="{{parent}}/packings">
        <i class="fa fa-arrow-left"></i>{{ 'COMMON.BACK' | translate }}
      </a>
      <!-- <button class="btn btn-secondary ml-2" (click)="reset()">
        <i class="fa fa-redo"></i>{{ 'COMMON.RESET' | translate }}
      </button> -->
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
      <li *ngIf="model && model.id" class="nav-item cursor-pointer" (click)="changeTab(tabs.BASIC_TAB)">
        <a class="nav-link" data-toggle="tab" role="tab" [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
          [class.active]="activeTabId === tabs.BASIC_TAB" routerLink="{{parent}}/packings/edit/{{model.id}}">
          {{ 'COMMON.BASIC_INFO' | translate }}
        </a>
      </li>
      <li *ngIf="model && model.id" class="nav-item cursor-pointer" (click)="changeTab(tabs.DEPOSITFORM_TAB)">
        <a class="nav-link" data-toggle="tab" role="button" [attr.aria-selected]="activeTabId === tabs.DEPOSITFORM_TAB"
          [class.active]="activeTabId === tabs.DEPOSITFORM_TAB" routerLink="{{parent}}/packings/edit/{{model.id}}/depositforms">{{ 'DEPOSITFORM.DEPOSITFORMS' | translate }}</a>
      </li>
    </ul>

    <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
      <div class="mt-5" *ngIf="model">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'PACKING.VOUCHER' | translate }}</label>
              <app-voucher-autocomplete
              name="voucher" [valid]="isControlValid('voucher_current')" [touched]="isControlTouched('voucher_current')" [class.is-invalid]="isControlInvalid('voucher_current')"
              [class.is-valid]="isControlValid('voucher_current')" formControlName="voucher_current" id="voucher_current" [model]="model.voucher_current"></app-voucher-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('voucher_current')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'PACKING.VOUCHER' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('voucher_current')">{{ 'PACKING.VOUCHER' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'voucher_current')">{{ 'PACKING.VOUCHER' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'voucher_current')">{{ 'PACKING.VOUCHER' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'voucher_current')">{{ 'PACKING.VOUCHER' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'PACKING.CODE' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="code" [class.is-invalid]="isControlInvalid('code')"
                [class.is-valid]="isControlValid('code')" formControlName="code" />
              <div class="feedback" *ngIf="!isControlTouched('code')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'PACKING.CODE' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('code')">{{ 'PACKING.CODE' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'code')">{{ 'PACKING.CODE' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'code')">{{ 'PACKING.CODE' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'code')">{{ 'PACKING.CODE' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'PACKING.VERIFICATED' | translate }}</label>
              <p-toggleButton class="form-control form-control-lg form-control-solid" formControlName="verificated" onLabel="{{ 'COMMON.YES' | translate}}" offLabel="{{ 'COMMON.NO' | translate}}"></p-toggleButton>
            </div>
          </div>
          <div class="float-right">
            <a class="btn btn-default font-weight-bold mr-2" routerLink="{{parent}}/packings">{{ 'COMMON.CANCEL' | translate }}</a>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(false)" *ngIf="!view">{{ 'COMMON.SAVE' | translate }}</button>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(true)" *ngIf="!view">{{ 'COMMON.SAVE_AND_EXIT' | translate }}</button>
          </div>
        </form>
      </div>
    </ng-container>
    <ng-container *ngIf="activeTabId === tabs.DEPOSITFORM_TAB">
      <div class="mt-5" *ngIf="model && model.id">
        <app-deposit-form></app-deposit-form>
      </div>
    </ng-container>
  </div>
</div>
