<div class="card card-custom gutter-b">
  <ng-container *ngIf="requesting">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="model">
          {{ (id ? 'COMMON.EDIT' : 'COMMON.NEW') | translate }}
          <span *ngIf="model && model.id">{{ 'CONTRACT.CONTRACT' | translate }} : {{ model.id }}</span>
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-light" routerLink="{{parent}}/contracts">
        <i class="fa fa-arrow-left"></i>{{ 'COMMON.BACK' | translate }}
      </a>
      <!-- <button class="btn btn-secondary ml-2" (click)="reset()">
        <i class="fa fa-redo"></i>{{ 'COMMON.RESET' | translate }}
      </button> -->
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
      <li *ngIf="model && model.id" class="nav-item cursor-pointer" (click)="changeTab(tabs.BASIC_TAB)">
        <a class="nav-link" data-toggle="tab" role="tab" [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
          [class.active]="activeTabId === tabs.BASIC_TAB" routerLink="{{parent}}/contracts/{{getEditOrView()}}/{{model.id}}">
          {{ 'COMMON.BASIC_INFO' | translate }}
        </a>
      </li>
      <li *ngIf="(model && model.id && authService.hasPermission('view_stockserial'))" class="nav-item cursor-pointer" (click)="changeTab(tabs.STOCK_SERIAL_TAB)">
        <a class="nav-link" data-toggle="tab" role="button" [attr.aria-selected]="activeTabId === tabs.STOCK_SERIAL_TAB"
          [class.active]="activeTabId === tabs.STOCK_SERIAL_TAB" routerLink="{{parent}}/contracts/{{getEditOrView()}}/{{model.id}}/stockserials">{{ 'STOCKSERIAL.STOCKSERIALS' | translate }}</a>
      </li>
    </ul>

    <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
      <div class="mt-5" *ngIf="model">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <!-- <div class="col-lg-4">
              <div class="image-input image-input-outline"
                id="kt_profile_logo" [class.image-input-empty]="!model.logo && !newLogo">
                <div class="image-input-wrapper" [style.backgroundImage]="model.logo" *ngIf="!newLogo"></div>
                <div class="image-input-wrapper" [style.backgroundImage]="'url(' + croppedImage + ')'" *ngIf="newLogo"></div>
                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  data-action="change" data-toggle="tooltip" title="" data-original-title="Change logo">
                  <i class="fa fa-pen icon-sm text-muted"></i>
                  <input type="file" name="logo" accept=".png, .jpg, .jpeg" (change)="fileChangeEvent($event)" formControlName="logo"/>
                </label>
                <span *ngIf="newLogo"
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  (click)="cancelLogo()"
                  data-action="remove" data-toggle="tooltip" title="" data-original-title="Cancel logo">
                  <i class="ki ki-bold-close icon-xs text-muted"></i>
                </span>
                <span *ngIf="!newLogo && model.logo"
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  (click)="deleteLogo()"
                  data-action="remove" data-toggle="tooltip" title="" data-original-title="Remove logo">
                  <i class="ki ki-bold-close icon-xs text-muted"></i>
                </span>
              </div>
              <span class="form-text text-muted">Allowed file types: png, jpg, jpeg. {{newLogo}}</span>
            </div> -->
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'CONTRACT.CODE' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="code" [class.is-invalid]="isControlInvalid('code')"
                [class.is-valid]="isControlValid('code')" formControlName="code" />
              <div class="feedback" *ngIf="!isControlTouched('code')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'CONTRACT.CODE' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('code')">{{ 'CONTRACT.CODE' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'code')">{{ 'CONTRACT.CODE' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'code')">{{ 'CONTRACT.CODE' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'code')">{{ 'CONTRACT.CODE' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'CONTRACT.COMPANY' | translate }}</label>
              <app-company-autocomplete
              name="company" [valid]="isControlValid('company')" [touched]="isControlTouched('company')" [class.is-invalid]="isControlInvalid('company')"
              [class.is-valid]="isControlValid('company')" formControlName="company" id="company" [model]="model.company"></app-company-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('company')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'CONTRACT.COMPANY' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('company')">{{ 'CONTRACT.COMPANY' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'company')">{{ 'CONTRACT.COMPANY' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'company')">{{ 'CONTRACT.COMPANY' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'company')">{{ 'CONTRACT.COMPANY' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'TYPECONTRACT.TYPECONTRACT' | translate }}</label>
              <app-type-contract-select
              placeholder="{{ 'TYPECONTRACT.TYPECONTRACT' | translate }}" name="type_contract" [valid]="isControlValid('type_contract')" [touched]="isControlTouched('type_contract')" [class.is-invalid]="isControlInvalid('type_contract')"
              [class.is-valid]="isControlValid('type_contract')" formControlName="type_contract" id="type_contract" [model]="model.type_contract"></app-type-contract-select>
              <div class="feedback" *ngIf="!isControlTouched('type_contract')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'TYPECONTRACT.TYPECONTRACT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('type_contract')">{{ 'TYPECONTRACT.TYPECONTRACT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'type_contract')">{{ 'TYPECONTRACT.TYPECONTRACT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'type_contract')">{{ 'TYPECONTRACT.TYPECONTRACT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'type_contract')">{{ 'TYPECONTRACT.TYPECONTRACT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'CONTRACT.NAME_INVOICE_TO' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="name_invoce_to" [class.is-invalid]="isControlInvalid('name_invoce_to')"
                [class.is-valid]="isControlValid('name_invoce_to')" formControlName="name_invoce_to" />
              <div class="feedback" *ngIf="!isControlTouched('name_invoce_to')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'COMPANY.NAME_INVOICE_TO' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('name_invoce_to')">{{ 'CONTRACT.NAME_INVOICE_TO' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'name_invoce_to')">{{ 'CONTRACT.NAME_INVOICE_TO' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'name_invoce_to')">{{ 'CONTRACT.NAME_INVOICE_TO' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'name_invoce_to')">{{ 'CONTRACT.NAME_INVOICE_TO' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'CONTRACT.START_BILLING_DATE' | translate}}</label>
              <p-calendar dateFormat="dd/mm/yy" [inputStyleClass]="getValidClass(isControlValid('start_billing_date'))" name="start_billing_date" formControlName="start_billing_date"></p-calendar>
              <div class="feedback" *ngIf="!isControlTouched('start_billing_date')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'CONTRACT.START_BILLING_DATE' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('start_billing_date')">{{ 'CONTRACT.START_BILLING_DATE' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'start_billing_date')">{{ 'CONTRACT.START_BILLING_DATE' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'start_billing_date')">{{ 'CONTRACT.START_BILLING_DATE' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'start_billing_date')">{{ 'CONTRACT.START_BILLING_DATE' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'CONTRACT.END_BILLING_DATE' | translate}}</label>
              <p-calendar dateFormat="dd/mm/yy" [inputStyleClass]="getValidClass(isControlValid('end_billing_date'))" name="end_billing_date" formControlName="end_billing_date"></p-calendar>
              <div class="feedback" *ngIf="!isControlTouched('end_billing_date')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'CONTRACT.END_BILLING_DATE' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('end_billing_date')">{{ 'CONTRACT.END_BILLING_DATE' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'end_billing_date')">{{ 'CONTRACT.END_BILLING_DATE' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'end_billing_date')">{{ 'CONTRACT.END_BILLING_DATE' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'end_billing_date')">{{ 'CONTRACT.END_BILLING_DATE' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'COMPANY.IDENTIFICATION_NUMBER' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="identification_number" [class.is-invalid]="isControlInvalid('identification_number')"
                [class.is-valid]="isControlValid('identification_number')" formControlName="identification_number" />
              <div class="feedback" *ngIf="!isControlTouched('identification_number')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'COMPANY.IDENTIFICATION_NUMBER' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('identification_number')">{{ 'COMPANY.IDENTIFICATION_NUMBER' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'identification_number')">{{ 'COMPANY.IDENTIFICATION_NUMBER' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'identification_number')">{{ 'COMPANY.IDENTIFICATION_NUMBER' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'identification_number')">{{ 'COMPANY.IDENTIFICATION_NUMBER' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'COMPANY.EMAIL' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="email" [class.is-invalid]="isControlInvalid('email')"
                [class.is-valid]="isControlValid('email')" formControlName="email" />
              <div class="feedback" *ngIf="!isControlTouched('email')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'COMPANY.EMAIL' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('email')">{{ 'COMPANY.EMAIL' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'email')">{{ 'COMPANY.EMAIL' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'email')">{{ 'COMPANY.EMAIL' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'email')">{{ 'COMPANY.EMAIL' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'COMPANY.PHONE' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="phone" [class.is-invalid]="isControlInvalid('phone')"
                [class.is-valid]="isControlValid('phone')" formControlName="phone" />
              <div class="feedback" *ngIf="!isControlTouched('phone')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'COMPANY.PHONE' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('phone')">{{ 'COMPANY.PHONE' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'phone')">{{ 'COMPANY.PHONE' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'phone')">{{ 'COMPANY.PHONE' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'phone')">{{ 'COMPANY.PHONE' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'COMPANY.WEB' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="web" [class.is-invalid]="isControlInvalid('web')"
                [class.is-valid]="isControlValid('web')" formControlName="web" />
              <div class="feedback" *ngIf="!isControlTouched('web')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'COMPANY.WEB' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('web')">{{ 'COMPANY.WEB' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'web')">{{ 'COMPANY.WEB' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'web')">{{ 'COMPANY.WEB' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'web')">{{ 'COMPANY.WEB' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'COMPANY.ALIAS' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="alias" [class.is-invalid]="isControlInvalid('alias')"
                [class.is-valid]="isControlValid('alias')" formControlName="alias" />
              <div class="feedback" *ngIf="!isControlTouched('alias')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'COMPANY.ALIAS' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('alias')">{{ 'COMPANY.ALIAS' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'alias')">{{ 'COMPANY.ALIAS' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'alias')">{{ 'COMPANY.ALIAS' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'alias')">{{ 'COMPANY.ALIAS' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'COMPANY.ABBREVIATION' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="abbreviation" [class.is-invalid]="isControlInvalid('abbreviation')"
                [class.is-valid]="isControlValid('abbreviation')" formControlName="abbreviation" />
              <div class="feedback" *ngIf="!isControlTouched('abbreviation')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'COMPANY.ABBREVIATION' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('abbreviation')">{{ 'COMPANY.ABBREVIATION' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'abbreviation')">{{ 'COMPANY.ABBREVIATION' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'abbreviation')">{{ 'COMPANY.ABBREVIATION' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'abbreviation')">{{ 'COMPANY.ABBREVIATION' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'COMPANY.ADDRESS' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="address" [class.is-invalid]="isControlInvalid('address')"
                [class.is-valid]="isControlValid('address')" formControlName="address" />
              <div class="feedback" *ngIf="!isControlTouched('address')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'COMPANY.ADDRESS' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('address')">{{ 'COMPANY.ADDRESS' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'address')">{{ 'COMPANY.ADDRESS' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'address')">{{ 'COMPANY.ADDRESS' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'address')">{{ 'COMPANY.ADDRESS' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'CONTRACT.IS_ACTIVE' | translate}}</label>
              <p-toggleButton class="form-control form-control-lg form-control-solid" formControlName="is_active" onLabel="{{ 'COMMON.YES' | translate}}" offLabel="{{ 'COMMON.NO' | translate}}"></p-toggleButton>
              <div class="feedback" *ngIf="!isControlTouched('is_active')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'CONTRACT.IS_ACTIVE' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('is_active')">{{ 'CONTRACT.IS_ACTIVE' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'is_active')">{{ 'CONTRACT.IS_ACTIVE' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'is_active')">{{ 'CONTRACT.IS_ACTIVE' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'is_active')">{{ 'CONTRACT.IS_ACTIVE' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
            </div> 
          </div>
          <div class="float-right">
            <a class="btn btn-default font-weight-bold mr-2" routerLink="{{parent}}/contracts">{{ 'COMMON.CANCEL' | translate }}</a>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(false)" *ngIf="!view">{{ 'COMMON.SAVE' | translate }}</button>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(true)" *ngIf="!view">{{ 'COMMON.SAVE_AND_EXIT' | translate }}</button>
          </div>
        </form>
      </div>
    </ng-container>
    <ng-container *ngIf="activeTabId === tabs.STOCK_SERIAL_TAB">
      <div class="mt-5" *ngIf="model && model.id">
        <app-stock-serial></app-stock-serial>
      </div>
    </ng-container>
  </div>
</div>