<div class="card card-custom gutter-b">
  <ng-container *ngIf="requesting">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="model">
          {{ (id ? 'COMMON.EDIT' : 'COMMON.NEW') | translate }}
          <span *ngIf="model && model.id">'{{ model.id }}</span>
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-light" routerLink="{{parent}}/contracts">
        <i class="fa fa-arrow-left"></i>{{ 'COMMON.BACK' | translate }}
      </a>
      <button class="btn btn-secondary ml-2" (click)="reset()">
        <i class="fa fa-redo"></i>{{ 'COMMON.RESET' | translate }}
      </button>
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
      <li class="nav-item cursor-pointer" (click)="changeTab(tabs.BASIC_TAB)">
        <a class="nav-link" data-toggle="tab" role="tab" [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
          [class.active]="activeTabId === tabs.BASIC_TAB">
          {{ 'COMMON.BASIC_INFO' | translate }}
        </a>
      </li>
      <!-- <li *ngIf="model && model.id" class="nav-item cursor-pointer" (click)="changeTab(tabs.OFFICE_TAB)">
        <a class="nav-link" data-toggle="tab" role="button" [attr.aria-selected]="activeTabId === tabs.OFFICE_TAB"
          [class.active]="activeTabId === tabs.OFFICE_TAB">Offices</a>
      </li> -->
    </ul>

    <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
      <div class="mt-5" *ngIf="model">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <!-- <div class="col-lg-4">
              <div class="image-input image-input-outline"
                id="kt_profile_logo" [class.image-input-empty]="!model.logo && !newLogo">
                <div class="image-input-wrapper" [style.backgroundImage]="model.logo" *ngIf="!newLogo"></div>
                <div class="image-input-wrapper" [style.backgroundImage]="'url(' + croppedImage + ')'" *ngIf="newLogo"></div>
                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  data-action="change" data-toggle="tooltip" title="" data-original-title="Change logo">
                  <i class="fa fa-pen icon-sm text-muted"></i>
                  <input type="file" name="logo" accept=".png, .jpg, .jpeg" (change)="fileChangeEvent($event)" formControlName="logo"/>
                </label>
                <span *ngIf="newLogo"
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  (click)="cancelLogo()"
                  data-action="remove" data-toggle="tooltip" title="" data-original-title="Cancel logo">
                  <i class="ki ki-bold-close icon-xs text-muted"></i>
                </span>
                <span *ngIf="!newLogo && model.logo"
                  class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                  (click)="deleteLogo()"
                  data-action="remove" data-toggle="tooltip" title="" data-original-title="Remove logo">
                  <i class="ki ki-bold-close icon-xs text-muted"></i>
                </span>
              </div>
              <span class="form-text text-muted">Allowed file types: png, jpg, jpeg. {{newLogo}}</span>
            </div> -->
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'CONTRACT.CODE' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="code" [class.is-invalid]="isControlInvalid('code')"
                [class.is-valid]="isControlValid('code')" formControlName="code" />
              <div class="feedback" *ngIf="!isControlTouched('code')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'CONTRACT.CODE' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('code')">{{ 'CONTRACT.CODE' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'code')">{{ 'CONTRACT.CODE' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'code')">{{ 'CONTRACT.CODE' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'code')">{{ 'CONTRACT.CODE' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'CONTRACT.COMPANY' | translate }}</label>
              <app-company-autocomplete
              name="company" [valid]="isControlValid('company')" [touched]="isControlTouched('company')" [class.is-invalid]="isControlInvalid('company')"
              [class.is-valid]="isControlValid('company')" formControlName="company" id="company" [model]="model.company"></app-company-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('company')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'CONTRACT.COMPANY' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('company')">{{ 'CONTRACT.COMPANY' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'company')">{{ 'CONTRACT.COMPANY' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'company')">{{ 'CONTRACT.COMPANY' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'company')">{{ 'CONTRACT.COMPANY' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'TYPECONTRACT.TYPECONTRACT' | translate }}</label>
              <app-type-contract-select
              placeholder="{{ 'TYPECONTRACT.TYPECONTRACT' | translate }}" name="type_contract" [valid]="isControlValid('type_contract')" [touched]="isControlTouched('type_contract')" [class.is-invalid]="isControlInvalid('type_contract')"
              [class.is-valid]="isControlValid('type_contract')" formControlName="type_contract" id="type_contract" [model]="model.type_contract"></app-type-contract-select>
              <div class="feedback" *ngIf="!isControlTouched('type_contract')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'TYPECONTRACT.TYPECONTRACT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('type_contract')">{{ 'TYPECONTRACT.TYPECONTRACT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'type_contract')">{{ 'TYPECONTRACT.TYPECONTRACT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'type_contract')">{{ 'TYPECONTRACT.TYPECONTRACT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'type_contract')">{{ 'TYPECONTRACT.TYPECONTRACT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'CONTRACT.START_BILLING_DATE' | translate}}</label>
              <p-calendar [inputStyleClass]="getValidClass(isControlValid('start_billing_date'))" name="start_billing_date" formControlName="start_billing_date"></p-calendar>
              <div class="feedback" *ngIf="!isControlTouched('start_billing_date')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'CONTRACT.START_BILLING_DATE' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('start_billing_date')">{{ 'CONTRACT.START_BILLING_DATE' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'start_billing_date')">{{ 'CONTRACT.START_BILLING_DATE' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'start_billing_date')">{{ 'CONTRACT.START_BILLING_DATE' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'start_billing_date')">{{ 'CONTRACT.START_BILLING_DATE' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'CONTRACT.END_BILLING_DATE' | translate}}</label>
              <p-calendar [inputStyleClass]="getValidClass(isControlValid('end_billing_date'))" name="end_billing_date" formControlName="end_billing_date"></p-calendar>
              <div class="feedback" *ngIf="!isControlTouched('end_billing_date')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'CONTRACT.END_BILLING_DATE' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('end_billing_date')">{{ 'CONTRACT.END_BILLING_DATE' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'end_billing_date')">{{ 'CONTRACT.END_BILLING_DATE' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'end_billing_date')">{{ 'CONTRACT.END_BILLING_DATE' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'end_billing_date')">{{ 'CONTRACT.END_BILLING_DATE' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
            </div>
          </div>
          <div class="float-right">
            <a class="btn btn-default font-weight-bold mr-2" routerLink="{{parent}}/contracts">{{ 'COMMON.CANCEL' | translate }}</a>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(false)">{{ 'COMMON.SAVE' | translate }}</button>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(true)">{{ 'COMMON.SAVE_AND_EXIT' | translate }}</button>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
</div>