<div class="card card-custom gutter-b">
  <ng-container *ngIf="requesting">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="model">
          {{ (id ? 'COMMON.EDIT' : 'COMMON.NEW') | translate }}
          <span *ngIf="model && model.id">{{ 'DETAILHEADINVOICE.HEADINVOICE' | translate }} : {{ model.id }}</span>
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-light" routerLink="{{parent}}/headinvoices">
        <i class="fa fa-arrow-left"></i>{{ 'COMMON.BACK' | translate }}
      </a>
      <!-- <button class="btn btn-secondary ml-2" (click)="reset()">
        <i class="fa fa-redo"></i>{{ 'COMMON.RESET' | translate }}
      </button> -->
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
      <li class="nav-item cursor-pointer" (click)="changeTab(tabs.BASIC_TAB)">
        <a class="nav-link" data-toggle="tab" role="tab" [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
          [class.active]="activeTabId === tabs.BASIC_TAB">
          {{ 'COMMON.BASIC_INFO' | translate }}
        </a>
      </li>
      <!-- <li *ngIf="model && model.id" class="nav-item cursor-pointer" (click)="changeTab(tabs.PROFILE)">
        <a class="nav-link" data-toggle="tab" role="button" [attr.aria-selected]="activeTabId === tabs.PROFILE"
          [class.active]="activeTabId === tabs.PROFILE">Profile</a>
      </li> -->
    </ul>

    <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
      <div class="mt-5" *ngIf="model">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">

            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DETAILHEADINVOICE.CREATED_AT' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="created_at" [class.is-invalid]="isControlInvalid('created_at')"
                [class.is-valid]="isControlValid('created_at')" formControlName="created_at"/>
              <div class="feedback" *ngIf="!isControlTouched('created_at')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DETAILHEADINVOICE.CREATED_AT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('created_at')">{{ 'DETAILHEADINVOICE.CREATED_AT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'created_at')">{{ 'DETAILHEADINVOICE.CREATED_AT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'created_at')">{{ 'DETAILHEADINVOICE.CREATED_AT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'created_at')">{{ 'DETAILHEADINVOICE.CREATED_AT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DETAILHEADINVOICE.UPDATED_AT' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="updated_at" [class.is-invalid]="isControlInvalid('updated_at')"
                [class.is-valid]="isControlValid('updated_at')" formControlName="updated_at"/>
              <div class="feedback" *ngIf="!isControlTouched('updated_at')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DETAILHEADINVOICE.UPDATED_AT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('updated_at')">{{ 'DETAILHEADINVOICE.UPDATED_AT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'updated_at')">{{ 'DETAILHEADINVOICE.UPDATED_AT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'updated_at')">{{ 'DETAILHEADINVOICE.UPDATED_AT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'updated_at')">{{ 'DETAILHEADINVOICE.UPDATED_AT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DETAILHEADINVOICE.DETAILS' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="details" [class.is-invalid]="isControlInvalid('details')"
                [class.is-valid]="isControlValid('details')" formControlName="details"/>
              <div class="feedback" *ngIf="!isControlTouched('details')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DETAILHEADINVOICE.DETAILS' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('details')">{{ 'DETAILHEADINVOICE.DETAILS' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'details')">{{ 'DETAILHEADINVOICE.DETAILS' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'details')">{{ 'DETAILHEADINVOICE.DETAILS' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'details')">{{ 'DETAILHEADINVOICE.DETAILS' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DETAILHEADINVOICE.DETAILS2' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="details2" [class.is-invalid]="isControlInvalid('details2')"
                [class.is-valid]="isControlValid('details2')" formControlName="details2"/>
              <div class="feedback" *ngIf="!isControlTouched('details2')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DETAILHEADINVOICE.DETAILS2' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('details2')">{{ 'DETAILHEADINVOICE.DETAILS2' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'details2')">{{ 'DETAILHEADINVOICE.DETAILS2' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'details2')">{{ 'DETAILHEADINVOICE.DETAILS2' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'details2')">{{ 'DETAILHEADINVOICE.DETAILS2' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DETAILHEADINVOICE.SIGNO' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="signo" [class.is-invalid]="isControlInvalid('signo')"
                [class.is-valid]="isControlValid('signo')" formControlName="signo"/>
              <div class="feedback" *ngIf="!isControlTouched('signo')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DETAILHEADINVOICE.SIGNO' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('signo')">{{ 'DETAILHEADINVOICE.SIGNO' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'signo')">{{ 'DETAILHEADINVOICE.SIGNO' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'signo')">{{ 'DETAILHEADINVOICE.SIGNO' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'signo')">{{ 'DETAILHEADINVOICE.SIGNO' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DETAILHEADINVOICE.VAULTINC' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="vaultinc" [class.is-invalid]="isControlInvalid('vaultinc')"
                [class.is-valid]="isControlValid('vaultinc')" formControlName="vaultinc"/>
              <div class="feedback" *ngIf="!isControlTouched('vaultinc')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DETAILHEADINVOICE.VAULTINC' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('vaultinc')">{{ 'DETAILHEADINVOICE.VAULTINC' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'vaultinc')">{{ 'DETAILHEADINVOICE.VAULTINC' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'vaultinc')">{{ 'DETAILHEADINVOICE.VAULTINC' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'vaultinc')">{{ 'DETAILHEADINVOICE.VAULTINC' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DETAILHEADINVOICE.QUANTITY' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="quantity" [class.is-invalid]="isControlInvalid('quantity')"
                [class.is-valid]="isControlValid('quantity')" formControlName="quantity"/>
              <div class="feedback" *ngIf="!isControlTouched('quantity')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DETAILHEADINVOICE.QUANTITY' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('quantity')">{{ 'DETAILHEADINVOICE.QUANTITY' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'quantity')">{{ 'DETAILHEADINVOICE.QUANTITY' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'quantity')">{{ 'DETAILHEADINVOICE.QUANTITY' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'quantity')">{{ 'DETAILHEADINVOICE.QUANTITY' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DETAILHEADINVOICE.QUANTITY2' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="quantity2" [class.is-invalid]="isControlInvalid('quantity2')"
                [class.is-valid]="isControlValid('quantity2')" formControlName="quantity2"/>
              <div class="feedback" *ngIf="!isControlTouched('quantity2')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DETAILHEADINVOICE.QUANTITY2' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('quantity2')">{{ 'DETAILHEADINVOICE.QUANTITY2' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'quantity2')">{{ 'DETAILHEADINVOICE.QUANTITY2' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'quantity2')">{{ 'DETAILHEADINVOICE.QUANTITY2' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'quantity2')">{{ 'DETAILHEADINVOICE.QUANTITY2' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DETAILHEADINVOICE.TOTAL_AMOUNT' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="total_amount" [class.is-invalid]="isControlInvalid('total_amount')"
                [class.is-valid]="isControlValid('total_amount')" formControlName="total_amount"/>
              <div class="feedback" *ngIf="!isControlTouched('total_amount')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DETAILHEADINVOICE.TOTAL_AMOUNT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('total_amount')">{{ 'DETAILHEADINVOICE.TOTAL_AMOUNT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'total_amount')">{{ 'DETAILHEADINVOICE.TOTAL_AMOUNT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'total_amount')">{{ 'DETAILHEADINVOICE.TOTAL_AMOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'total_amount')">{{ 'DETAILHEADINVOICE.TOTAL_AMOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>     
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DETAILHEADINVOICE.TAX_EXEMPT' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="tax_exempt" [class.is-invalid]="isControlInvalid('tax_exempt')"
                [class.is-valid]="isControlValid('tax_exempt')" formControlName="tax_exempt"/>
              <div class="feedback" *ngIf="!isControlTouched('tax_exempt')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DETAILHEADINVOICE.TAX_EXEMPT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('tax_exempt')">{{ 'DETAILHEADINVOICE.TAX_EXEMPT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'tax_exempt')">{{ 'DETAILHEADINVOICE.TAX_EXEMPT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'tax_exempt')">{{ 'DETAILHEADINVOICE.TAX_EXEMPT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'tax_exempt')">{{ 'DETAILHEADINVOICE.TAX_EXEMPT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DETAILHEADINVOICE.DISCCOUNT' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="disccount" [class.is-invalid]="isControlInvalid('disccount')"
                [class.is-valid]="isControlValid('disccount')" formControlName="disccount"/>
              <div class="feedback" *ngIf="!isControlTouched('disccount')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DETAILHEADINVOICE.DISCCOUNT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('disccount')">{{ 'DETAILHEADINVOICE.DISCCOUNT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'disccount')">{{ 'DETAILHEADINVOICE.DISCCOUNT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'disccount')">{{ 'DETAILHEADINVOICE.DISCCOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'disccount')">{{ 'DETAILHEADINVOICE.DISCCOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DETAILHEADINVOICE.HEADINVOICE' | translate }}</label>
              <app-currency-select
              name="headinvoice" [valid]="isControlValid('headinvoice')" [touched]="isControlTouched('headinvoice')" [class.is-invalid]="isControlInvalid('headinvoice')"
              [class.is-valid]="isControlValid('headinvoice')" formControlName="headinvoice" id="headinvoice" [model]="model.headinvoice"></app-headinvoice-select>
              <div class="feedback" *ngIf="!isControlTouched('headinvoice')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DETAILHEADINVOICE.HEADINVOICE' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('headinvoice')">{{ 'DETAILHEADINVOICE.HEADINVOICE' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'headinvoice')">{{ 'DETAILHEADINVOICE.HEADINVOICE' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'headinvoice')">{{ 'DETAILHEADINVOICE.HEADINVOICE' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'headinvoice')">{{ 'DETAILHEADINVOICE.HEADINVOICE' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>   
            <!-- <div *ngIf="model.id && authService.hasPermission('view_stocktransaction')">
              <app-stock-transactions [headInvoiceId]="model.id"></app-stock-transactions>
            </div>                       -->
           </div>
          <div class="float-right">
            <a class="btn btn-default font-weight-bold mr-2" routerLink="{{parent}}/headinvoices">{{ 'COMMON.CANCEL' | translate }}</a>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(false)" *ngIf="!view">{{ 'COMMON.SAVE' | translate }}</button>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(true)" *ngIf="!view">{{ 'COMMON.SAVE_AND_EXIT' | translate }}</button>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
</div>