<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{ 'COMMON.LIST' | translate }}</h3>{{ 'CREW.CREWS' | translate }}
      <a title="{{ 'COMMON.LIST' | translate }}" class="btn btn-icon btn-light btn-hover-primary btn-sm"
        (click)="showList()">
        <span [inlineSVG]="'./assets/media/svg/misc/017-list.svg'" cacheSVG="true"
          class="svg-icon svg-icon-md svg-icon-danger">
        </span>
      </a>
      <a title="{{ 'COMMON.CALENDAR' | translate }}" class="btn btn-icon btn-light btn-hover-primary btn-sm"
        (click)="showCalendar()" style="margin-left: 5px;">
        <span [inlineSVG]="'./assets/media/svg/misc/016-monthly-calendar.svg'" cacheSVG="true"
          class="svg-icon svg-icon-md svg-icon-danger">
        </span>
      </a>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-primary" routerLink="{{parent}}/crews/add" *ngIf="authService.hasPermission('add_crew')">{{ 'COMMON.NEW' | translate }}</a>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="viewlist">
      <!-- begin: Filtration form -->
      <div class="form form-label-right">
        <div class="form-group row">
          <div class="col-lg-6">
            {{ 'COMMON.FILTER' | translate }}
          </div>
          <div class="col-lg-6" [formGroup]="searchGroup">
            <input type="text" class="form-control" name="searchText" placeholder="{{ 'COMMON.SEARCH' | translate }}" value="" (input)="dt.filterGlobal($event.target.value, 'contains')"
              formControlName="searchTerm" /><small class="form-text text-muted"><b>{{ 'COMMON.SEARCH' | translate }}</b> </small>
          </div>
        </div>
      </div>
      <!-- end: Filtration form -->
      <!-- begin:Table -->
      <p-table #dt [value]="models" [(selection)]="selectedModels" dataKey="id" styleClass="p-datatable-striped p-datatable-sm" [rowHover]="true"
      [rows]="per_page" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50,100]"
      [paginator]="true" currentPageReportTemplate="{{ 'COMMON.SHOWING' | translate }} {{ 'COMMON.FROM' | translate }} {first} {{ 'COMMON.TO' | translate }} {last} {{ 'COMMON.OF' | translate }} {totalRecords} {{ 'COMMON.RECORDS' | translate }}"
      [filterDelay]="1000" [globalFilterFields]="['id']" [lazy]="true" (onLazyLoad)="loadLazy($event)"
      [totalRecords]="totalRecords" [showJumpToPageDropdown]="false" [minBufferPx]="1" [showLoader]="true" [loading]="requesting"
      [resizableColumns]="size_width" [autoLayout]="size_width">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem" *ngIf="showTableCheckbox">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ 'CREW.ID' | translate }}
              </div>
            </th>
            <th pSortableColumn="created_at">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ 'COMMON.CREATED_AT' | translate }}
                <!-- <p-sortIcon field="date_joined"></p-sortIcon>
                <p-columnFilter type="date_joined" field="date_joined" display="menu" class="p-ml-auto"></p-columnFilter> -->
              </div>
            </th>
            <th pSortableColumn="created_at">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ 'CREW.DATE' | translate }}
                <!-- <p-sortIcon field="date_joined"></p-sortIcon>
                <p-columnFilter type="date_joined" field="date_joined" display="menu" class="p-ml-auto"></p-columnFilter> -->
              </div>
            </th>
            <th pSortableColumn="division">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ 'CREW.DIVISION' | translate }}
              </div>
            </th>
            <th pSortableColumn="driver">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ 'CREW.DRIVER' | translate }}
              </div>
            </th>
            <th pSortableColumn="assistant">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ 'CREW.ASSISTANT' | translate }}
              </div>
            </th>
            <th pSortableColumn="assistant2">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ 'CREW.ASSISTANT2' | translate }}
              </div>
            </th>
            <th pSortableColumn="vehicle">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ 'CREW.VEHICLE' | translate }}
              </div>
            </th>
            <th pSortableColumn="office">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ 'CREW.OFFICE' | translate }}
              </div>
            </th>
            <th class="width-action">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ 'COMMON.ACTION' | translate }}
                <!-- <p-sortIcon field="date_joined"></p-sortIcon>
                <p-columnFilter type="date_joined" field="date_joined" display="menu" class="p-ml-auto"></p-columnFilter> -->
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-value>
          <tr class="p-selectable-row">
            <td *ngIf="showTableCheckbox">
              <p-tableCheckbox [value]="value"></p-tableCheckbox>
            </td>
            <td>
              {{value.id}}
            </td>
            <td>
              {{value.created_at | date: 'MM/dd/yyyy'}}
            </td>
            <td>
              {{value.date | date: 'MM/dd/yyyy'}}
            </td>
            <td>
              {{value.division?.name}}
            </td>
            <td>
              {{value.driver?.name}}
            </td>
            <td>
              {{value.assistant?.name}}
            </td>
            <td>
              {{value.assistant2?.name}}
            </td>
            <td>
              {{value.vehicle?.code}}
            </td>
            <td>
              {{value.office?.name}}
            </td>  
            <td style="text-align: right">
              <a title="{{ 'COMMON.VIEW' | translate }}" class="btn btn-icon btn-light btn-hover-primary btn-sm" style="margin-right: 5px;"
              routerLink="{{parent}}/crews/view/{{value.id}}" *ngIf="authService.hasPermission('view_crew')">
              <span [inlineSVG]="'./assets/media/svg/icons/General/Eye.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-info">
              </span>
            </a>
            <a title="{{ 'COMMON.EDIT' | translate }}" class="btn btn-icon btn-light btn-hover-primary btn-sm" style="margin-right: 5px;"
                routerLink="{{parent}}/crews/edit/{{value.id}}" *ngIf="authService.hasPermission('change_crew')">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>
              <a title="{{ 'COMMON.DELETE' | translate }}" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                (click)="confirm(value.id, 'right')" *ngIf="authService.hasPermission('delete_crew')">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger">
                </span>
              </a>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">{{ 'COMMON.NO_ITEMS_FOUND' | translate }}</td>
          </tr>
        </ng-template>
      </p-table>
      <!-- end: Table -->
    </div>
    
    <!-- begin:Calendar -->
    <full-calendar [options]="calendarOptions" *ngIf="viewcalendar"></full-calendar>
    <!-- end: Calendar -->
  </div>
</div>

<p-confirmDialog header="{{ 'COMMON.CONFIRMATION' | translate }}" icon="pi pi-exclamation-triangle" [position]="confirmDialogPosition"></p-confirmDialog>