<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{ 'COMMON.LIST' | translate }}</h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-primary" (click)="showModalDialog(undefined, true)" *ngIf="serviceOrderId">{{ 'COMMON.NEW' | translate }}</a>
      <a type="button" class="btn btn-primary" routerLink="{{parent}}/origindestinations/add" *ngIf="!serviceOrderId">{{ 'COMMON.NEW' | translate }}</a>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-6">
          {{ 'COMMON.FILTER' | translate }}
        </div>
        <div class="col-lg-6" [formGroup]="searchGroup">
          <input type="text" class="form-control" name="searchText" placeholder="{{ 'COMMON.SEARCH' | translate }}" value="" (input)="dt.filterGlobal($event.target.value, 'contains')"
            formControlName="searchTerm" /><small class="form-text text-muted"><b>{{ 'COMMON.SEARCH' | translate }}</b> </small>
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->

    <!-- begin:Table -->
    <p-table #dt [value]="models" [(selection)]="selectedModels" dataKey="id" styleClass="p-datatable-striped p-datatable-sm" [rowHover]="true"
    [rows]="per_page" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50,100]"
    [paginator]="true" currentPageReportTemplate="{{ 'COMMON.SHOWING' | translate }} {{ 'COMMON.FROM' | translate }} {first} {{ 'COMMON.TO' | translate }} {last} {{ 'COMMON.OF' | translate }} {totalRecords} {{ 'COMMON.RECORDS' | translate }}"
    [filterDelay]="1000" [globalFilterFields]="['id','username']" [lazy]="true" (onLazyLoad)="loadLazy($event)"
    [totalRecords]="totalRecords" [showJumpToPageDropdown]="false" [minBufferPx]="1" [showLoader]="true" [loading]="requesting">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem" *ngIf="showTableCheckbox">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="id">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'ORIGIN_DESTINATION.ID' | translate }}
            </div>
          </th>
          <th pSortableColumn="origin">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'ORIGIN_DESTINATION.ORIGIN' | translate }}
            </div>
          </th>
          <th pSortableColumn="destination">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'ORIGIN_DESTINATION.DESTINATION' | translate }}
            </div>
          </th>
          <th pSortableColumn="service_order">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'ORIGIN_DESTINATION.SERVICE_ORDER' | translate }}
            </div>
          </th>
          <th pSortableColumn="distrib_charges">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'ORIGIN_DESTINATION.DISTRIB_CHARGES' | translate }}
            </div>
          </th>
          <th pSortableColumn="days_month">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'ORIGIN_DESTINATION.DAYS_MONTH' | translate }}
            </div>
          </th>
          <th pSortableColumn="type_service">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'ORIGIN_DESTINATION.TYPE_SERVICE' | translate }} 
            </div>
          </th>
          <th pSortableColumn="created_at">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'COMMON.CREATED_AT' | translate }}
              <!-- <p-sortIcon field="date_joined"></p-sortIcon>
              <p-columnFilter type="date_joined" field="date_joined" display="menu" class="p-ml-auto"></p-columnFilter> -->
            </div>
          </th>
          <th style="width: 10rem">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'COMMON.ACTION' | translate }}
              <!-- <p-sortIcon field="date_joined"></p-sortIcon>
              <p-columnFilter type="date_joined" field="date_joined" display="menu" class="p-ml-auto"></p-columnFilter> -->
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-value>
        <tr class="p-selectable-row">
          <td *ngIf="showTableCheckbox">
            <p-tableCheckbox [value]="value"></p-tableCheckbox>
          </td>
          <td>
            {{value.id}}
          </td>
          <td>
            {{value.origin.name}}
          </td>
          <td>
            {{value.destination.name}}
          </td>
          <td>
            {{value.service_order.id}}
          </td>
          <td>
            {{value.distrib_charges}}
          </td>
          <td>
            {{value.days_month}}
          </td>
          <td>
            <p-badge [value]="'Pick Up'"  severity="secondary"  severity="secondary" *ngIf="value.type_service == 'Pick Up'"></p-badge>
            <p-badge [value]="'Delivery'"  severity="success"  severity="success" *ngIf="value.type_service == 'Delivery'"></p-badge>
          </td>
          <td>
            {{value.created_at | date: 'MM/dd/yyyy'}}
          </td>
          <td style="text-align: right">
            <a title="{{ 'COMMON.COUNT' | translate }}" class="btn btn-icon btn-light btn-hover-primary btn-sm" style="margin-right: 5px;"
            (click)="showModalDialog(value.id, false)" *ngIf="serviceOrderId">
              <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-success">
              </span>
            </a>
            <a title="{{ 'COMMON.EDIT' | translate }}" class="btn btn-icon btn-light btn-hover-primary btn-sm" style="margin-right: 5px;"
              routerLink="{{parent}}/origindestinations/edit/{{value.id}}" *ngIf="authService.hasPermission('add_contract') && !serviceOrderId">
              <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-primary">
              </span>
            </a>
            <a title="{{ 'COMMON.DELETE' | translate }}" class="btn btn-icon btn-light btn-hover-danger btn-sm"
              (click)="confirm(value.id, 'right')" *ngIf="authService.hasPermission('change_contract')">
              <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-danger">
              </span>
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">{{ 'COMMON.NO_ITEMS_FOUND' | translate }}</td>
        </tr>
      </ng-template>
    </p-table>
    <!-- end: Table -->
  </div>
</div>

<p-confirmDialog header="{{ 'COMMON.CONFIRMATION' | translate }}" icon="pi pi-exclamation-triangle" [position]="confirmDialogPosition"></p-confirmDialog>

<p-dialog header="{{ 'ORIGIN_DESTINATION.ORIGIN_DESTINATIONS' | translate }}" [(visible)]="displayModal" [modal]="true" [style]="{width: '60vw'}" 
  [baseZIndex]="10000" [blockScroll]="false" [draggable]="false" [dismissableMask]="true" [resizable]="false">

  <div class="mt-5">
    <app-origin-destination-edit [originDestinationID]="originDestinationID" (displayModal)="hideModalDialog()"></app-origin-destination-edit>
  </div>
</p-dialog>