<div class="card card-custom gutter-b">
  <ng-container *ngIf="requesting">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>

  <div class="card-header" *ngIf="!transfer">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="model">
          {{ (id ? 'COMMON.EDIT' : 'COMMON.NEW') | translate }}
          <span *ngIf="model && model.id">'{{ model.id }} - {{model.division_origin.name}}</span>
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-light" routerLink="{{parent}}">
        <i class="fa fa-arrow-left"></i> {{ 'COMMON.BACK' | translate }}
      </a>
      <button class="btn btn-secondary ml-2" (click)="reset()">
        <i class="fa fa-redo"></i> {{ 'COMMON.RESET' | translate }}
      </button>
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs nav-tabs-line" role="tablist"  *ngIf="!transfer">
      <li *ngIf="model && model.id" class="nav-item cursor-pointer" (click)="changeTab(tabs.BASIC_TAB)">
        <a class="nav-link" data-toggle="tab" role="tab" [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
          [class.active]="activeTabId === tabs.BASIC_TAB" routerLink="{{parent}}/edit/{{model.id}}">
          {{ 'COMMON.BASIC_INFO' | translate }}
        </a>
      </li>
      <li *ngIf="(model && model.id && authService.hasPermission('view_voucher')) || transfer" class="nav-item cursor-pointer" (click)="changeTab(tabs.VOUCHER_TAB)">
        <a class="nav-link" data-toggle="tab" role="button" [attr.aria-selected]="activeTabId === tabs.VOUCHER_TAB"
          [class.active]="activeTabId === tabs.VOUCHER_TAB" routerLink="{{parent}}/edit/{{model.id}}/vouchers">{{ 'VOUCHER.VOUCHERS' | translate }}</a>
      </li>
    </ul>

    <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
      <div class="mt-5" *ngIf="model">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'GUIDE.DIVISION_ORIGIN' | translate}}</label>
              <app-division-autocomplete
              name="division_origin" [valid]="isControlValid('division_origin')" [touched]="isControlTouched('division_origin')" [class.is-invalid]="isControlInvalid('division_origin')"
              [class.is-valid]="isControlValid('division_origin')" formControlName="division_origin" id="division_origin" [model]="model.division_origin" (change)="changeDivisionOrigin($event)"></app-division-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('division_origin')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'GUIDE.DIVISION_ORIGIN' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('division_origin')">{{ 'GUIDE.DIVISION_ORIGIN' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'division_origin')">{{ 'GUIDE.DIVISION_ORIGIN' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'division_origin')">{{ 'GUIDE.DIVISION_ORIGIN' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'division_origin')">{{ 'GUIDE.DIVISION_ORIGIN' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'GUIDE.EMPLOYEE_ORIGIN' | translate}}</label>
              <app-employee-autocomplete
              name="employee_origin" [valid]="isControlValid('employee_origin')" [touched]="isControlTouched('employee_origin')" [class.is-invalid]="isControlInvalid('employee_origin')"
              [class.is-valid]="isControlValid('employee_origin')" formControlName="employee_origin" id="employee_origin" [model]="model.employee_origin" 
              [addFilters]="[{key: 'divisions', value: division_origin.value ? division_origin.value.id : ''}]" [disabled]="division_origin.value ? false : true"></app-employee-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('employee_origin')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'GUIDE.EMPLOYEE_ORIGIN' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('employee_origin')">{{ 'GUIDE.EMPLOYEE_ORIGIN' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'employee_origin')">{{ 'GUIDE.EMPLOYEE_ORIGIN' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'employee_origin')">{{ 'GUIDE.EMPLOYEE_ORIGIN' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'employee_origin')">{{ 'GUIDE.EMPLOYEE_ORIGIN' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'GUIDE.DIVISION_DESTINATION' | translate}}</label>
              <app-division-autocomplete
              name="division_destination" [valid]="isControlValid('division_destination')" [touched]="isControlTouched('division_destination')" [class.is-invalid]="isControlInvalid('division_destination')"
              [class.is-valid]="isControlValid('division_destination')" formControlName="division_destination" id="division_destination" [model]="model.division_destination" (change)="changeDivisionDestination($event)"></app-division-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('division_destination')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'GUIDE.DIVISION_DESTINATION' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('division_destination')">{{ 'GUIDE.DIVISION_DESTINATION' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'division_destination')">{{ 'GUIDE.DIVISION_DESTINATION' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'division_destination')">{{ 'GUIDE.DIVISION_DESTINATION' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'division_destination')">{{ 'GUIDE.DIVISION_DESTINATION' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4" *ngIf="!transfer">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'GUIDE.EMPLOYEE_DESTINATION' | translate}}</label>
              <app-employee-autocomplete
              name="employee_destination" [valid]="isControlValid('employee_destination')" [touched]="isControlTouched('employee_destination')" [class.is-invalid]="isControlInvalid('employee_destination')"
              [class.is-valid]="isControlValid('employee_destination')" formControlName="employee_destination" id="employee_destination" [model]="model.employee_destination" [addFilters]="[{key: 'divisions', value: division_destination.value ? division_destination.value.id : ''}]" style="color: blue;" [disabled]="true"></app-employee-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('employee_destination')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'GUIDE.EMPLOYEE_DESTINATION' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('employee_destination')">{{ 'GUIDE.EMPLOYEE_DESTINATION' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'employee_destination')">{{ 'GUIDE.EMPLOYEE_DESTINATION' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'employee_destination')">{{ 'GUIDE.EMPLOYEE_DESTINATION' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'employee_destination')">{{ 'GUIDE.EMPLOYEE_DESTINATION' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>  
            <div class="col-lg-4" *ngIf="division_destination.value?.type_division == 2">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'GUIDE.SHIFT' | translate}}</label>
              <p-dropdown [styleClass]="getValidClass(isControlValid('am_pm'))" [options]="optionsAmPm" optionLabel="key" name="am_pm" formControlName="am_pm" placeholder="Selecciona Horario"></p-dropdown>
              <div class="feedback" *ngIf="!isControlTouched('am_pm')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'GUIDE.SHIFT' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('am_pm')">{{ 'GUIDE.SHIFT' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'am_pm')">{{ 'GUIDE.SHIFT' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'am_pm')">{{ 'GUIDE.SHIFT' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'am_pm')">{{ 'GUIDE.SHIFT' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
            </div>
            <div class="col-lg-4" *ngIf="division_destination.value?.type_division == 2">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'GUIDE.DATE' | translate}}</label>
              <p-calendar [inputStyleClass]="getValidClass(isControlValid('date'))" name="date" formControlName="date" showTime="true" placeholder="{{ 'GUIDE.DATE' | translate }}"></p-calendar>
              <div class="feedback" *ngIf="!isControlTouched('date')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'GUIDE.DATE' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('date')">{{ 'GUIDE.DATE' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'date')">{{ 'GUIDE.DATE' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'date')">{{ 'GUIDE.DATE' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'date')">{{ 'GUIDE.DATE' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
            </div>                     
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'GUIDE.CERTIFIED_CART' | translate}}</label>
              <p-toggleButton class="form-control form-control-lg form-control-solid" formControlName="certified_cart" onLabel="{{ 'COMMON.YES' | translate}}" offLabel="{{ 'COMMON.NO' | translate}}"></p-toggleButton>
              <div class="feedback" *ngIf="!isControlTouched('certified_cart')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'GUIDE.CERTIFIED_CART' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('certified_cart')">{{ 'GUIDE.CERTIFIED_CART' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'certified_cart')">{{ 'GUIDE.CERTIFIED_CART' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'certified_cart')">{{ 'GUIDE.CERTIFIED_CART' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'certified_cart')">{{ 'GUIDE.CERTIFIED_CART' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
            </div>
            <div class="col-lg-4" *ngIf="certified_cart.value">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'GUIDE.CERTIFIED_CART_CODE' | translate}}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="certified_cart_code" [class.is-invalid]="isControlInvalid('certified_cart_code')"
                [class.is-valid]="isControlValid('certified_cart_code')" formControlName="certified_cart_code" />
              <div class="feedback" *ngIf="!isControlTouched('certified_cart_code')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'GUIDE.CERTIFIED_CART_CODE' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('certified_cart_code')">{{ 'GUIDE.CERTIFIED_CART_CODE' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'certified_cart_code')">{{ 'GUIDE.CERTIFIED_CART_CODE' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'certified_cart_code')">{{ 'GUIDE.CERTIFIED_CART_CODE' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'certified_cart_code')">{{ 'GUIDE.CERTIFIED_CART_CODE' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
          </div>
          <div class="float-right">
            <a class="btn btn-default font-weight-bold mr-2" routerLink="{{parent}}" *ngIf="!transfer">{{ 'COMMON.CANCEL' | translate }}</a>
            <a class="btn btn-default font-weight-bold mr-2" (click)="closeEmit()" *ngIf="transfer">{{ 'COMMON.CANCEL' | translate }}</a>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(false)" *ngIf="!transfer">{{ 'COMMON.SAVE' | translate }}</button>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(true)">{{ 'COMMON.SAVE_AND_EXIT' | translate }}</button>
          </div>
        </form>
      </div>
    </ng-container>
    <ng-container *ngIf="activeTabId === tabs.VOUCHER_TAB">
      <div class="mt-5" *ngIf="model && model.id">
        <app-voucher *ngIf="!transfer"></app-voucher>
      </div>
    </ng-container>
  </div>
</div>