<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{ 'COMMON.LIST' | translate }}</h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-primary" routerLink="/{{parent}}/add" *ngIf="authService.hasPermission('add_' + permission)">{{ 'COMMON.NEW' | translate }}</a>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-6">
          {{ 'COMMON.FILTER' | translate }}
        </div>
        <div class="col-lg-6" [formGroup]="searchGroup">
          <input type="text" class="form-control" name="searchText" placeholder="{{ 'COMMON.SEARCH' | translate }}" value="" (input)="dt.filterGlobal($event.target.value, 'contains')"
            formControlName="searchTerm" /><small class="form-text text-muted"><b>{{ 'COMMON.SEARCH' | translate }}</b> {{ 'COMMON.IN' | translate }} id</small>
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->

    <!-- begin:Table -->
    <p-table #dt [value]="models" [(selection)]="selectedModels" dataKey="id" styleClass="p-datatable-striped p-datatable-sm" [rowHover]="true"
    [rows]="per_page" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50,100]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="{{ 'COMMON.SHOWING' | translate }} {{ 'COMMON.FROM' | translate }} {first} {{ 'COMMON.TO' | translate }} {last} {{ 'COMMON.OF' | translate }} {totalRecords} {{ 'COMMON.RECORDS' | translate }}"
    [filterDelay]="1000" [globalFilterFields]="['id','username']" [lazy]="true" (onLazyLoad)="loadLazy($event)"
    [totalRecords]="totalRecords" [showJumpToPageDropdown]="false" [minBufferPx]="1" [showLoader]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem" *ngIf="showTableCheckbox">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="id">
            <div class="p-d-flex p-jc-between p-ai-center">
              ID
            </div>
          </th>
          <th pSortableColumn="date">
            <div class="p-d-flex p-jc-between p-ai-center">
              Date
            </div>
          </th>
          <th pSortableColumn="description">
            <div class="p-d-flex p-jc-between p-ai-center">
              Shift
            </div>
          </th>
          <th pSortableColumn="type_guide">
            <div class="p-d-flex p-jc-between p-ai-center">
              Type
            </div>
          </th>
          <th pSortableColumn="description">
            <div class="p-d-flex p-jc-between p-ai-center">
              Vouchers
            </div>
          </th>
          <th pSortableColumn="description">
            <div class="p-d-flex p-jc-between p-ai-center">
              Packages
            </div>
          </th>
          <th pSortableColumn="origin">
            <div class="p-d-flex p-jc-between p-ai-center">
              Origin
            </div>
          </th>
          <th pSortableColumn="destination">
            <div class="p-d-flex p-jc-between p-ai-center">
              Destination
            </div>
          </th>
          <th pSortableColumn="status">
            <div class="p-d-flex p-jc-between p-ai-center">
              Status
            </div>
          </th>
          <th pSortableColumn="created_at">
            <div class="p-d-flex p-jc-between p-ai-center">
              Created At
              <!-- <p-sortIcon field="date_joined"></p-sortIcon>
              <p-columnFilter type="date_joined" field="date_joined" display="menu" class="p-ml-auto"></p-columnFilter> -->
            </div>
          </th>
          <th style="width: 10rem">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'COMMON.ACTION' | translate }}
              <!-- <p-sortIcon field="date_joined"></p-sortIcon>
              <p-columnFilter type="date_joined" field="date_joined" display="menu" class="p-ml-auto"></p-columnFilter> -->
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-value>
        <tr class="p-selectable-row">
          <td *ngIf="showTableCheckbox">
            <p-tableCheckbox [value]="value"></p-tableCheckbox>
          </td>
          <td>
            {{value.id}}
          </td>
          <td>
            {{value.am_pm}}
          </td>
          <td>
            {{value.date | date: 'MM/dd/yyyy'}}<br>
            {{value.date | date: 'hh:mm:ss'}}
          </td>
          <td>
            <p-badge [value]="'Entrada'"  severity="success"  severity="success" *ngIf="value.type_guide == 1"></p-badge>
            <p-badge [value]="'Transferencia'"  severity="success"  severity="success" *ngIf="value.type_guide == 2"></p-badge>
            <p-badge [value]="'Salida'"  severity="success"  severity="success" *ngIf="value.type_guide == 3"></p-badge>
          </td>
          <td>
            {{value.vouchers.length}}
          </td>
          <td>
            {{countPackages(value)}}
          </td>
          <td>
            {{value.division_origin.name}}
          </td>
          <td>
            {{value.division_destination.name}}
          </td>
          <td>
            <p-badge [value]="'Confirmada'"  severity="success"  severity="success" *ngIf="value.status == 1"></p-badge>
            <p-badge [value]="'NoConfirmada'"  severity="warning"  severity="warning" *ngIf="value.status == 0"></p-badge>
          </td>
          <td>
            {{value.created_at | date: 'MM/dd/yyyy'}}
          </td>
          <td style="text-align: center">
            <a title="Verification" class="btn btn-icon btn-light btn-hover-primary btn-sm" style="margin-right: 5px;" 
              (click)="verification(value)" *ngIf="(authService.hasPermission('change_' + permission)) && ((parent == 'guidesinput' && !(value.status == 1)) || (parent == 'guidescheck'  && !(value.status == 1)))">
              <span [inlineSVG]="'./assets/media/svg/icons/General/Check-mark.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-primary">
              </span>
            </a>
            <a title="{{ 'COMMON.EDIT' | translate }}" class="btn btn-icon btn-light btn-hover-primary btn-sm" style="margin-right: 5px;"
              routerLink="/{{parent}}/edit/{{value.id}}"  *ngIf="authService.hasPermission('change_' + permission)">
              <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-primary">
              </span>
            </a>
            <a title="{{ 'COMMON.DELETE' | translate }}" class="btn btn-icon btn-light btn-hover-danger btn-sm"
              (click)="confirm(value.id, 'right')" *ngIf="authService.hasPermission('delete_' + permission)">
              <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-danger">
              </span>
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">{{ 'COMMON.NO_ITEMS_FOUND' | translate }}</td>
        </tr>
      </ng-template>
    </p-table>
    <!-- end: Table -->
  </div>
</div>

<p-confirmDialog header="{{ 'COMMON.CONFIRMATION' | translate }}" icon="pi pi-exclamation-triangle" [position]="confirmDialogPosition"></p-confirmDialog>

<p-dialog header="Verification" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" 
  [baseZIndex]="10000" [draggable]="false" [resizable]="false" [contentStyle]="{'overflow': 'visible'}">
  <form action="#" class="form form-label-right" [formGroup]="verificationGroup">
    <div class="form-group row" *ngIf="verificationGuide" style="margin-top: 20px;">
      <ul class="list-group" style="width: 100%;">
        <li class="list-group-item">
          <b>{{ 'id' }}:</b>
          <span>{{verificationGuide.id}}</span>
        </li>

        <li class="list-group-item">
          <b>{{ 'vouchers' }}:</b><br>
          <span *ngFor="let voucher of verificationGuide.vouchers">
            + {{voucher.code}} <i [ngClass]="voucher.verificated ? 'fas fa-check-circle' : 'fas fa-question-circle'" aria-hidden="true" [ngStyle]="{'color': voucher.verificated ? 'green' : 'red' }"></i><br>
            <span *ngFor="let package of voucher.packages"> 
              - {{package.code}} <i [ngClass]="package.verificated ? 'fas fa-check-circle' : 'fas fa-question-circle'" aria-hidden="true" [ngStyle]="{'color': package.verificated ? 'green' : 'red' }"></i><br>
            </span>
          </span>
        </li>

        <li class="list-group-item">
          <b>{{ 'verification' }}:</b>
          <p-chips [styleClass]="getValidClass(isControlValid('vouchers'))" formControlName="vouchers" [allowDuplicate]="false" (onAdd)="addListVouchers($event)" (onRemove)="removeListVouchers($event)" [(ngModel)]="listVouchers"></p-chips>
          <div class="feedback" *ngIf="!isControlTouched('vouchers')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>List Vouchers/Packages</b></div>
          <div class="valid-feedback" *ngIf="isControlValid('vouchers')">List Vouchers/Packages  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
          <div class="invalid-feedback" *ngIf="controlHasError('required', 'vouchers')">List Vouchers/Packages  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
          <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'vouchers')">List Vouchers/Packages {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1
            item</div>
          <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'vouchers')">List Vouchers/Packages {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100
            items</div>
        </li>

        <li class="list-group-item">
          <div class="float-right">
            <a class="btn btn-default font-weight-bold mr-2" (click)="displayModal = false">{{ 'COMMON.CANCEL' | translate }}</a>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="verificationGroup.invalid" (click)="save()">{{ 'COMMON.SAVE_AND_EXIT' | translate }}</button>
          </div>
        </li>
      </ul>
    </div>
  </form>
</p-dialog>