<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{ 'COMMON.LIST' | translate }}</h3>{{ 'GUIDE.GUIDES' | translate }}
    </div>
    <div class="card-toolbar">
      <a title="{{ 'COMMON.VERIFICATION' | translate }}" class="btn btn-icon btn-light btn-hover-warning btn-sm text-warning" style="margin-right: 5px;" 
      (click)="verificationList()" *ngIf="selectedModels && selectedModels.length > 0">
      <span [inlineSVG]="'./assets/media/svg/icons/General/Check-mark.svg'" cacheSVG="true"
        class="svg-icon svg-icon-md svg-icon-warning">
      </span>
      </a>
      <a type="button" class="btn btn-secondary" (click)="showExportDialog()">{{ 'COMMON.EXPORT' | translate }}</a>
      <a type="button" class="btn btn-primary" routerLink="/{{parent}}/add" *ngIf="authService.hasPermission('add_' + permission) && parent == 'guidesinput'">{{ 'COMMON.NEW' | translate }}</a>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      {{ 'COMMON.FILTER' | translate }}
      <div class="form-group row" [formGroup]="searchGroup">
        <div class="col-lg-3">
          <p-calendar styleClass="form-control form-control-lg form-control-solid" name="date_filter" formControlName="date_filter" showButtonBar="true" (onSelect)="loadLazy()" (onClickOutside)="loadLazy()" (onClearClick)="loadLazy()"></p-calendar>
          <small class="form-text text-muted"><b>{{ 'COMMON.SEARCH' | translate }}</b>  {{ 'COMMON.IN' | translate }} {{ 'GUIDE.DATE' | translate }}</small>
        </div>
        <div class="col-lg-3" *ngIf="parent === 'guidesinput'"></div>
        <div class="col-lg-3" *ngIf="parent != 'guidesinput'">
          <p-dropdown styleClass="form-control form-control-lg form-control-solid" [options]="optionsAmPm" optionLabel="key" name="am_pm_filter" formControlName="am_pm_filter" placeholder="seleccione" dateFormat="dd.mm.yy" (onChange)="loadLazy()"></p-dropdown>
          <small class="form-text text-muted"><b>{{ 'COMMON.SEARCH' | translate }}</b>  {{ 'COMMON.IN' | translate }} {{ 'GUIDE.SHIFT' | translate }}</small>
        </div>
        <div class="col-lg-6">
          <input type="text" class="form-control" name="search_filter" placeholder="{{ 'COMMON.SEARCH' | translate }}" value="" (input)="dt.filterGlobal($event.target.value, 'contains')"
            formControlName="search_filter" /><small class="form-text text-muted"><b>{{ 'COMMON.SEARCH' | translate }}</b> </small>
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->

    <!-- begin:Table -->
    <p-table #dt [value]="models" [(selection)]="selectedModels" dataKey="id" styleClass="p-datatable-striped p-datatable-sm" [rowHover]="true"
    [rows]="per_page" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50,100]"
    [paginator]="true" currentPageReportTemplate="{{ 'COMMON.SHOWING' | translate }} {{ 'COMMON.FROM' | translate }} {first} {{ 'COMMON.TO' | translate }} {last} {{ 'COMMON.OF' | translate }} {totalRecords} {{ 'COMMON.RECORDS' | translate }}"
    [filterDelay]="1000" [globalFilterFields]="['id','username']" [lazy]="true" (onLazyLoad)="loadLazy($event)"
    [totalRecords]="totalRecords" [showJumpToPageDropdown]="false" [minBufferPx]="1" [showLoader]="true" [loading]="requesting">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem" *ngIf="showTableCheckbox">
            <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
          </th>
          <th pSortableColumn="id">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'GUIDE.ID' | translate }}
            </div>
          </th>
          <th pSortableColumn="created_at">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'COMMON.CREATED_AT' | translate }}
              <!-- <p-sortIcon field="date_joined"></p-sortIcon>
              <p-columnFilter type="date_joined" field="date_joined" display="menu" class="p-ml-auto"></p-columnFilter> -->
            </div>
          </th>
          <th pSortableColumn="date">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'GUIDE.DATE' | translate }}
            </div>
          </th>
          <th pSortableColumn="type_guide">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'GUIDE.TYPE' | translate }}
            </div>
          </th>
          <th pSortableColumn="vouchers">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'GUIDE.VOUCHERS' | translate }}
            </div>
          </th>
          <th pSortableColumn="description">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'GUIDE.PACKINGS' | translate }}
            </div>
          </th>
          <th pSortableColumn="division_origin">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'GUIDE.ORIGIN' | translate }}
            </div>
          </th>
          <th pSortableColumn="division_destination">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'GUIDE.DESTINATION' | translate }}
            </div>
          </th>
          <th pSortableColumn="shift">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'GUIDE.SHIFT' | translate }}
            </div>
          </th>
          <th pSortableColumn="status">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'GUIDE.STATUS' | translate }}
            </div>
          </th>
          <th style="width: 10rem" *ngIf="!voucherId">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'COMMON.ACTION' | translate }}
              <!-- <p-sortIcon field="date_joined"></p-sortIcon>
              <p-columnFilter type="date_joined" field="date_joined" display="menu" class="p-ml-auto"></p-columnFilter> -->
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-value>
        <tr class="p-selectable-row">
          <td *ngIf="showTableCheckbox">
            <p-tableCheckbox [value]="value" *ngIf="showVerificationButton(value)"></p-tableCheckbox>
          </td>
          <td>
            {{value.id}}
          </td>
          <td>
            {{value.created_at | date: 'MM/dd/yyyy'}}
          </td>
          <td>
            {{value.date | date: 'MM/dd/yyyy'}}<br>
            {{value.date | date: 'hh:mm:ss'}}
          </td>
          <td>
            <p-badge [value]="'Entrada'"  severity="success"  severity="success" *ngIf="value.type_guide == 1"></p-badge>
            <p-badge [value]="'Transferencia'"  severity="success"  severity="success" *ngIf="value.type_guide == 2"></p-badge>
            <p-badge [value]="'Salida'"  severity="success"  severity="success" *ngIf="value.type_guide == 3"></p-badge>
          </td>
          <td>
            {{value.vouchers.length}}
          </td>
          <td>
            {{countPackings([value], false)}}
          </td>
          <td>
            {{value.division_origin?.name}}
          </td>
          <td>
            {{value.division_destination?.name}}
          </td>
          <td>
            {{value.am_pm}}
          </td>
          <td>
            <p-badge [value]="'Confirmada'"  severity="success"  severity="success" *ngIf="value.status == 1"></p-badge>
            <p-badge [value]="'NoConfirmada'"  severity="warning"  severity="warning" *ngIf="value.status == 0"></p-badge>
          </td>
          <td style="text-align: right" *ngIf="!voucherId">
            <a title="{{ 'COMMON.VERIFICATION' | translate }}" class="btn btn-icon btn-light btn-hover-warning btn-sm text-warning" style="margin-right: 5px;" 
              (click)="verification(value)" *ngIf="showVerificationButton(value)">
              <span [inlineSVG]="'./assets/media/svg/icons/General/Check-mark.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-warning">
              </span>
            </a>
            <a title="{{ 'COMMON.EDIT' | translate }}" class="btn btn-icon btn-light btn-hover-primary btn-sm" style="margin-right: 5px;"
              routerLink="/{{parent}}/edit/{{value.id}}"  *ngIf="authService.hasPermission('change_' + permission) && (this.authService.currentUserValue.employee.id !== value.employee_origin.id) ">
              <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-primary">
              </span>
            </a>
            <button class="btn btn-icon btn-transparent btn-hover-secondary btn-sm" style="margin-right: 5px;" *ngIf="this.authService.currentUserValue.employee.id == value.employee_origin.id" disabled>
              <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-secondary">
              </span>
            </button>
            <a title="{{ 'COMMON.DELETE' | translate }}" class="btn btn-icon btn-light btn-hover-danger btn-sm"
              (click)="confirm(value.id, 'right')" *ngIf="authService.hasPermission('delete_' + permission) && value.division_origin.id != value.division_destination.id">
              <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-danger">
              </span>
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">{{ 'COMMON.NO_ITEMS_FOUND' | translate }}</td>
        </tr>
      </ng-template>
    </p-table>
    <!-- end: Table -->
  </div>
</div>

<p-confirmDialog header="{{ 'COMMON.CONFIRMATION' | translate }}" icon="pi pi-exclamation-triangle" [position]="confirmDialogPosition"></p-confirmDialog>

<p-dialog header="{{ 'COMMON.VERIFICATION' | translate }}" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" 
  [baseZIndex]="10000" [draggable]="false" [resizable]="false" [contentStyle]="{'overflow': 'visible'}" (onHide)="closeVerificationModal()">
  <form action="#" class="form form-label-right" [formGroup]="verificationGroup">
    <div class="form-group row" *ngIf="verificationGuides" style="margin-top: 20px;">
      <div class="col-lg-12">
        <label>{{ 'COMMON.ENTER' | translate }} {{ 'GUIDE.CODES' | translate }}</label>
        <p-chips [styleClass]="getValidClass(isControlValid('vouchers',verificationGroup))" formControlName="vouchers" [allowDuplicate]="false" (onAdd)="addListVouchers($event)" (onRemove)="removeListVouchers($event)" [(ngModel)]="listVouchers"></p-chips>
        <div class="feedback"  style="display: block;" *ngIf="!isControlTouched('vouchers',verificationGroup)">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'GUIDE.CODES' | translate }}</b></div>
        <div class="valid-feedback"  style="display: block;" *ngIf="voucherLenght(verificationGuides) + countPackings(verificationGuides, true) == listVouchers.length">{{ 'GUIDE.CODES' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
        <!-- <div class="invalid-feedback"  style="display: block;" *ngIf="controlHasError('required', 'vouchers')">Vouchers  {{ 'COMMON.IS_REQUIRED' | translate }}</div> -->
        <div class="invalid-feedback"  style="display: block;" *ngIf="voucherLenght(verificationGuides) + countPackings(verificationGuides, true) > listVouchers.length">{{ 'GUIDE.CODES' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} {{voucherLenght(verificationGuides) + countPackings(verificationGuides, true)}}
          item</div>
        <div class="invalid-feedback"  style="display: block;" *ngIf="voucherLenght(verificationGuides) + countPackings(verificationGuides, true) < listVouchers.length">{{ 'GUIDE.CODES' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} {{voucherLenght(verificationGuides) + countPackings(verificationGuides, true)}}
          items</div>
      </div>
      <div class="col-lg-6" style="margin-top: 15px; margin-bottom: 5px;">
        <b>{{ 'COMMON.LIST' | translate }} {{ 'COMMON.VERIFICATION' | translate }}:</b><br>
        <div style="overflow: scroll; max-height: 400px;" class="py-5">

          <span *ngFor="let guide of verificationGuides">
            <!-- <i class="fas fa-clipboard-list" style="color: Dodgerblue; font-size: 16px;"></i> {{guide.id}}<br> -->
            <span *ngFor="let voucher of guide.vouchers">
              <div *ngIf="!voucher.verificated"> - <i class="fas fa-clipboard-list" style="color: Dodgerblue; font-size: 16px;"></i> {{voucher.code}} <i [ngClass]="voucher.verificated ? 'fas fa-check-circle' : 'fas fa-question-circle'" aria-hidden="true" [ngStyle]="{'color': voucher.verificated ? 'green' : 'red' }"></i><br></div>
              <div *ngIf="guide.division_destination.name !== 'Operaciones Internas'">
                  <span *ngFor="let packing of voucher.packings"> 
                    <div *ngIf="!packing.verificated"> -- <i class="fas fa-archive" style="color: Dodgerblue; font-size: 16px;" *ngIf="!packing.verificated"></i> {{packing.code}} <i [ngClass]="packing.verificated ? 'fas fa-check-circle' : 'fas fa-question-circle'" aria-hidden="true" [ngStyle]="{'color': packing.verificated ? 'green' : 'red' }"></i><br></div>
                  </span>
              </div>
            </span>
          </span>

        </div>
      </div>
      <div class="col-lg-6" style="margin-top: 15px; margin-bottom: 5px;">
        <b>{{ 'COMMON.LIST' | translate }} {{ 'COMMON.VERIFICATED' | translate }}:</b><br>
        <div style="overflow: scroll; max-height: 400px;" class="py-5">

          <span *ngFor="let guide of verificationGuides">
            <!-- <i class="fas fa-clipboard-list" style="color: Dodgerblue; font-size: 16px;"></i> {{guide.id}}<br> -->
            <span *ngFor="let voucher of guide.vouchers">
              <div *ngIf="voucher.verificated"> - <i class="fas fa-clipboard-list" style="color: Dodgerblue; font-size: 16px;"></i> {{voucher.code}} <i [ngClass]="voucher.verificated ? 'fas fa-check-circle' : 'fas fa-question-circle'" aria-hidden="true" [ngStyle]="{'color': voucher.verificated ? 'green' : 'red' }"></i><br></div>
              <div *ngIf="guide.division_destination.name !== 'Operaciones Internas'">
                  <span *ngFor="let packing of voucher.packings"> 
                    <div *ngIf="packing.verificated"> -- <i class="fas fa-archive" style="color: Dodgerblue; font-size: 16px;" *ngIf="!packing.verificated"></i> {{packing.code}} <i [ngClass]="packing.verificated ? 'fas fa-check-circle' : 'fas fa-question-circle'" aria-hidden="true" [ngStyle]="{'color': packing.verificated ? 'green' : 'red' }"></i><br></div>
                  </span>
              </div>
            </span>
          </span>

        </div>
      </div>
      <div class="col-lg-12">
        <div class="float-right">
          <a class="btn btn-default font-weight-bold mr-2" (click)="closeVerificationModal()">{{ 'COMMON.CANCEL' | translate }}</a>
          <button type="submit" class="btn btn-primary font-weight-bold mr-2"
            [disabled]="verificationGroup.invalid" (click)="save()">{{ 'COMMON.SAVE_AND_EXIT' | translate }}</button>
        </div>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog header="{{ 'COMMON.EXPORT' | translate }}" [(visible)]="displayModalExport" [modal]="true" [style]="{width: '50vw'}" 
  [baseZIndex]="10000" [draggable]="false" [resizable]="false" [contentStyle]="{'overflow': 'visible'}">
  <div class="form-group row" [formGroup]="exportGroup" style="margin-top: 20px;">
    <div class="col-lg-6">
      <p-calendar styleClass="form-control form-control-lg form-control-solid" name="date_export" formControlName="date_export" showButtonBar="true" (onSelect)="loadLazy()" (onClickOutside)="loadLazy()" (onClearClick)="loadLazy()"></p-calendar>
      <small class="form-text text-muted"><b>{{ 'COMMON.SEARCH' | translate }}</b>  {{ 'COMMON.IN' | translate }} AM/PM</small>
    </div>
    <div class="col-lg-6">
      <p-dropdown styleClass="form-control form-control-lg form-control-solid" [options]="optionsAmPm" optionLabel="key" name="am_pm_export" formControlName="am_pm_export" placeholder="seleccione" dateFormat="dd.mm.yy" (onChange)="loadLazy()"></p-dropdown>
      <small class="form-text text-muted"><b>{{ 'COMMON.SEARCH' | translate }}</b>  {{ 'COMMON.IN' | translate }} Date</small>
    </div>
    <div class="col-lg-12">
      <div class="float-right">
        <a class="btn btn-default font-weight-bold mr-2" (click)="displayModalExport = false">{{ 'COMMON.CANCEL' | translate }}</a>
        <button class="btn btn-primary font-weight-bold mr-2"
          [disabled]="exportGroup.invalid" (click)="export()">{{ 'COMMON.EXPORT' | translate }}</button>
      </div>
    </div>
  </div>
</p-dialog>