<div class="card card-custom gutter-b">
  <ng-container *ngIf="requesting">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="model">
          {{ (id ? 'COMMON.EDIT' : 'COMMON.NEW') | translate }}
          <span *ngIf="model && model.id">{{ 'DEPOSIT_FORM.DEPOSIT_FORM' | translate }} : {{ model.id }}</span>
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-light" routerLink="{{parent}}/depositforms">
        <i class="fa fa-arrow-left"></i>{{ 'COMMON.BACK' | translate }}
      </a>
      <!-- <button class="btn btn-secondary ml-2" (click)="reset()">
        <i class="fa fa-redo"></i>{{ 'COMMON.RESET' | translate }}
      </button> -->
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
      <li class="nav-item cursor-pointer" (click)="changeTab(tabs.BASIC_TAB)">
        <a class="nav-link" data-toggle="tab" role="tab" [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
          [class.active]="activeTabId === tabs.BASIC_TAB">
          {{ 'COMMON.BASIC_INFO' | translate }}
        </a>
      </li>
      <!-- <li *ngIf="model && model.id" class="nav-item cursor-pointer" (click)="changeTab(tabs.DEPOSITFORMDETAIL_TAB)">
        <a class="nav-link" data-toggle="tab" role="button" [attr.aria-selected]="activeTabId === tabs.DEPOSITFORMDETAIL_TAB"
          [class.active]="activeTabId === tabs.DEPOSITFORMDETAIL_TAB" routerLink="{{parent}}/edit/{{model.id}}/depositformsdetails">{{ 'DEPOSITFORMDETAIL.DEPOSITFORMSDETAILS' | translate }}</a>
      </li> -->
    </ul>

    <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
      <div class="mt-5" *ngIf="model">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DEPOSITFORM.PACKING' | translate }}</label>
              <app-packing-autocomplete
              name="packing" [valid]="isControlValid('packing')" [touched]="isControlTouched('packing')" [class.is-invalid]="isControlInvalid('packing')"
              [class.is-valid]="isControlValid('packing')" formControlName="packing" id="packing" [model]="model.packing"></app-packing-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('packing')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DEPOSITFORM.PACKING' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('packing')">{{ 'DEPOSITFORM.PACKING' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'packing')">{{ 'DEPOSITFORM.PACKING' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'packing')">{{ 'DEPOSITFORM.PACKING' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'packing')">{{ 'DEPOSITFORM.PACKING' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DEPOSITFORM.EMPLOYEEWHOCOUNTS' | translate }}</label>
              <app-employee-autocomplete
              name="employee_who_counts" [valid]="isControlValid('employee_who_counts')" [touched]="isControlTouched('employee_who_counts')" [class.is-invalid]="isControlInvalid('employee_who_counts')"
              [class.is-valid]="isControlValid('employee_who_counts')" formControlName="employee_who_counts" id="employee_who_counts" [model]="model.employee_who_counts"></app-employee-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('employee_who_counts')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DEPOSITFORM.EMPLOYEEWHOCOUNTS' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('employee_who_counts')">{{ 'DEPOSITFORM.EMPLOYEEWHOCOUNTS' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'employee_who_counts')">{{ 'DEPOSITFORM.EMPLOYEEWHOCOUNTS' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'employee_who_counts')">{{ 'DEPOSITFORM.EMPLOYEEWHOCOUNTS' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'employee_who_counts')">{{ 'DEPOSITFORM.EMPLOYEEWHOCOUNTS' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DEPOSITFORM.CURRENCY' | translate }}</label>
              <app-currency-select
              name="currency" [valid]="isControlValid('currency')" [touched]="isControlTouched('currency')" [class.is-invalid]="isControlInvalid('currency')"
              [class.is-valid]="isControlValid('currency')" formControlName="currency" id="currency" [model]="model.currency"></app-currency-select>
              <div class="feedback" *ngIf="!isControlTouched('currency')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DEPOSITFORM.CURRENCY' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('currency')">{{ 'DEPOSITFORM.CURRENCY' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'currency')">{{ 'DEPOSITFORM.CURRENCY' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'currency')">{{ 'DEPOSITFORM.CURRENCY' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'currency')">{{ 'DEPOSITFORM.CURRENCY' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DEPOSITFORM.BANK' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="bank_account" [class.is-invalid]="isControlInvalid('bank')"
                [class.is-valid]="isControlValid('bank')" formControlName="bank" />
              <div class="feedback" *ngIf="!isControlTouched('bank')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DEPOSITFORM.BANK' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('bank')">{{ 'DEPOSITFORM.BANK' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'bank')">{{ 'DEPOSITFORM.BANK' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'bank')">{{ 'DEPOSITFORM.BANK' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'bank')">{{ 'DEPOSITFORM.BANK' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DEPOSITFORM.BANKACCOUNT' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="bank_account" [class.is-invalid]="isControlInvalid('bank_account')"
                [class.is-valid]="isControlValid('bank_account')" formControlName="bank_account" />
              <div class="feedback" *ngIf="!isControlTouched('bank_account')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DEPOSITFORM.BANKACCOUNT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('bank_account')">{{ 'DEPOSITFORM.BANKACCOUNT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'bank_account')">{{ 'DEPOSITFORM.BANKACCOUNT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'bank_account')">{{ 'DEPOSITFORM.BANKACCOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'bank_account')">{{ 'DEPOSITFORM.BANKACCOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <!-- <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DEPOSITFORM.BANKACCOUNT' | translate }}</label>
              <app-bank-account-autocomplete
              name="bank_account" [valid]="isControlValid('bank_account')" [touched]="isControlTouched('bank_account')" [class.is-invalid]="isControlInvalid('bank_account')"
              [class.is-valid]="isControlValid('bank_account')" formControlName="bank_account" id="bank_account" [model]="model.bank_account"></app-bank-account-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('bank_account')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DEPOSITFORM.BANKACCOUNT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('bank_account')">{{ 'DEPOSITFORM.BANKACCOUNT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'bank_account')">{{ 'DEPOSITFORM.BANKACCOUNT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'bank_account')">{{ 'DEPOSITFORM.BANKACCOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'bank_account')">{{ 'DEPOSITFORM.BANKACCOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div> -->
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DEPOSITFORM.FORMNUMBER' | translate }}</label>
              <input type="number" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="form_number" [class.is-invalid]="isControlInvalid('form_number')"
                [class.is-valid]="isControlValid('form_number')" formControlName="form_number" />
              <div class="feedback" *ngIf="!isControlTouched('form_number')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DEPOSITFORM.FORMNUMBER' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('form_number')">{{ 'DEPOSITFORM.FORMNUMBER' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'form_number')">{{ 'DEPOSITFORM.FORMNUMBER' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'form_number')">{{ 'DEPOSITFORM.FORMNUMBER' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'form_number')">{{ 'DEPOSITFORM.FORMNUMBER' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DEPOSITFORM.AMOUNT' | translate }}</label>
              <input type="number" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="amount" [class.is-invalid]="isControlInvalid('amount')"
                [class.is-valid]="isControlValid('amount')" formControlName="amount" (change)="getDifference($event)" />
              <div class="feedback" *ngIf="!isControlTouched('amount')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DEPOSITFORM.AMOUNT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('amount')">{{ 'DEPOSITFORM.AMOUNT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'amount')">{{ 'DEPOSITFORM.AMOUNT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'amount')">{{ 'DEPOSITFORM.AMOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'amount')">{{ 'DEPOSITFORM.AMOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DEPOSITFORM.CONTAIN' | translate }}</label>
              <input type="number" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="contain" [class.is-invalid]="isControlInvalid('contain')"
                [class.is-valid]="isControlValid('contain')" formControlName="contain" />
              <div class="feedback" *ngIf="!isControlTouched('contain')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DEPOSITFORM.CONTAIN' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('contain')">{{ 'DEPOSITFORM.CONTAIN' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'contain')">{{ 'DEPOSITFORM.CONTAIN' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'contain')">{{ 'DEPOSITFORM.CONTAIN' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'contain')">{{ 'DEPOSITFORM.CONTAIN' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'DEPOSITFORM.DIFFERENCEAMOUNT' | translate }}</label>
              <input type="number" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="difference_amount" [class.is-invalid]="isControlInvalid('difference_amount')"
                [class.is-valid]="isControlValid('difference_amount')" formControlName="difference_amount" />
              <!-- <div class="feedback" *ngIf="!isControlTouched('difference_amount')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DEPOSITFORM.DIFFERENCEAMOUNT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('difference_amount')">{{ 'DEPOSITFORM.DIFFERENCEAMOUNT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'difference_amount')">{{ 'DEPOSITFORM.DIFFERENCEAMOUNT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'difference_amount')">{{ 'DEPOSITFORM.DIFFERENCEAMOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'difference_amount')">{{ 'DEPOSITFORM.DIFFERENCEAMOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div> -->
            </div>
            <div class="col-lg-4" *ngIf="differenceEnable">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DEPOSITFORM.DIFFERENCE' | translate }}</label>
              <p-dropdown styleClass="form-control form-control-lg form-control-solid" [options]="optionsDifference" 
              optionLabel="key" name="difference" formControlName="difference" placeholder="seleccione"></p-dropdown>
              <!-- <div class="feedback" *ngIf="!isControlTouched('difference')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DEPOSITFORM.BANKACCOUNT' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('difference')">{{ 'DEPOSITFORM.BANKACCOUNT' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'difference')">{{ 'DEPOSITFORM.BANKACCOUNT' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'difference')">{{ 'DEPOSITFORM.BANKACCOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'difference')">{{ 'DEPOSITFORM.BANKACCOUNT' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div> -->
            </div>
            <div class="col-lg-4" *ngIf="model.id">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DEPOSITFORM.VERIFIED' | translate}}</label>
              <p-toggleButton class="form-control form-control-lg form-control-solid" formControlName="verified" onLabel="{{ 'COMMON.YES' | translate}}" offLabel="{{ 'COMMON.NO' | translate}}"></p-toggleButton>
              <div class="feedback" *ngIf="!isControlTouched('verified')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DEPOSITFORM.VERIFIED' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('verified')">{{ 'DEPOSITFORM.VERIFIED' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'verified')">{{ 'DEPOSITFORM.VERIFIED' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'verified')">{{ 'DEPOSITFORM.VERIFIED' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'verified')">{{ 'DEPOSITFORM.VERIFIED' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
            </div>
            <div class="col-lg-4" *ngIf="model.id">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DEPOSITFORM.VERIFIEDAT' | translate}}</label>
              <p-calendar dateFormat="dd/mm/yy" [inputStyleClass]="getValidClass(isControlValid('verified_at'))" name="verified_at" formControlName="verified_at"></p-calendar>
              <div class="feedback" *ngIf="!isControlTouched('verified_at')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DEPOSITFORM.VERIFIEDAT' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('verified_at')">{{ 'DEPOSITFORM.VERIFIEDAT' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'verified_at')">{{ 'DEPOSITFORM.VERIFIEDAT' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'verified_at')">{{ 'DEPOSITFORM.VERIFIEDAT' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'verified_at')">{{ 'DEPOSITFORM.VERIFIEDAT' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 100</div>
            </div>                     
            
            <div class="col-lg-4" *ngIf="model.id">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DEPOSITFORM.SUPERVISOR' | translate }}</label>
              <app-employee-autocomplete
              name="supervisor" [valid]="isControlValid('supervisor')" [touched]="isControlTouched('supervisor')" [class.is-invalid]="isControlInvalid('supervisor')"
              [class.is-valid]="isControlValid('supervisor')" formControlName="supervisor" id="supervisor" [model]="model.supervisor"></app-employee-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('supervisor')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DEPOSITFORM.SUPERVISOR' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('supervisor')">{{ 'DEPOSITFORM.SUPERVISOR' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'supervisor')">{{ 'DEPOSITFORM.SUPERVISOR' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'supervisor')">{{ 'DEPOSITFORM.SUPERVISOR' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'supervisor')">{{ 'DEPOSITFORM.SUPERVISOR' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4" *ngIf="model.id">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'DEPOSITFORM.SUPERVISOREXTRA' | translate }}</label>
              <app-employee-autocomplete
              name="supervisor_extra" [valid]="isControlValid('supervisor_extra')" [touched]="isControlTouched('supervisor_extra')" [class.is-invalid]="isControlInvalid('supervisor_extra')"
              [class.is-valid]="isControlValid('supervisor_extra')" formControlName="supervisor_extra" id="supervisor_extra" [model]="model.supervisor_extra"></app-employee-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('supervisor_extra')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'DEPOSITFORM.SUPERVISOREXTRA' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('supervisor_extra')">{{ 'DEPOSITFORM.SUPERVISOREXTRA' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'supervisor_extra')">{{ 'DEPOSITFORM.SUPERVISOREXTRA' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'supervisor_extra')">{{ 'DEPOSITFORM.SUPERVISOREXTRA' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 1</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'supervisor_extra')">{{ 'DEPOSITFORM.SUPERVISOREXTRA' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4">
              <label>{{ 'DEPOSITFORM.CURRENCIES' | translate }}</label>
              <p-multiSelect class="form-control form-control-solid" [options]="currencyOptions" formControlName="selected_currencies" optionLabel="name" (onChange)="onMultiSelectChange($event)"></p-multiSelect>
            </div>
            
          </div>

          <div class="form-group row"  formArrayName="mainArray">
            <div class="col-12" *ngFor="let control of dynamicFormArray.controls; let i = index">
              <div class="row" [formGroupName]="i">
                <div class="col-md-12"><h3>{{ control.value.item.name }}</h3></div> 
                <div class="col-md-3"><h3>Denominación</h3></div>
                <div class="col-md-3"><h3>Cantidad</h3></div>
                <div class="col-md-6"><h3>Total</h3></div>
                <div class="col-md-12" formArrayName="denominations">
                  <div *ngFor="let denominationControl of control.get('denominations').controls; let j = index">
                    <div class="row denomination" [formGroupName]="j">
                      <div class="col-md-3">
                        <label>{{denominationControl.value.denomination}}</label>
                      </div>
                      <div class="col-md-3">
                        <input type="number" class="form-control form-control-md form-control-solid" autocomplete="off" formControlName="quantity" (change)="calcByDim($event,j,i)" placeholder="value">  
                      </div>
                      <div class="col-md-3">
                        <label>{{denominationControl.value.totalDimension}}</label>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-md-5 offset-md-5"><h3>Subtotal: {{control.value.subtotal}}</h3></div>
                </div>
              </div>
            </div>
            <div *ngIf="dynamicFormArray.controls.length > 0" class="col-md-5 offset-md-5"><h3>Total: {{formGroup.controls.contain.value}} </h3></div>
          </div>
        

          <!-- <div class="mt-5" *ngIf="model && model.id">
            <app-deposit-formdetail></app-deposit-formdetail>
          </div> -->
          <div class="col-lg-12" *ngIf="differenceEnable">
            <label>{{ 'COMMON.ENTER' | translate }} {{ 'DEPOSITFORM.REVIEW' | translate }}</label>
            <p-editor formControlName="review" [style]="{'height':'220px'}" placeholder="{{ 'DEPOSITFORM.REVIEW' | translate }}"></p-editor>
          </div>

          <div class="float-right">
            <a class="btn btn-default font-weight-bold mr-2" routerLink="{{parent}}/depositforms">{{ 'COMMON.CANCEL' | translate }}</a>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(false)" *ngIf="!view">{{ 'COMMON.SAVE' | translate }}</button>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(true)" *ngIf="!view">{{ 'COMMON.SAVE_AND_EXIT' | translate }}</button>
          </div>
        </form>
      </div>
    </ng-container>
    <!-- <ng-container *ngIf="activeTabId === tabs.DEPOSITFORMDETAIL_TAB">
      <div class="mt-5" *ngIf="model && model.id">
        <app-deposit-formdetail></app-deposit-formdetail>
      </div>
    </ng-container> -->
  </div>
</div>