<!--begin::Brand-->
<div class="brand flex-column-auto" id="kt_brand" [ngClass]="brandClasses">
  <!--begin::Logo-->
  <a routerLink="/" class="brand-logo"><img alt="Logo" [attr.src]="headerLogo" /></a>
  <!--end::Logo-->

  <ng-container *ngIf="asideSelfMinimizeToggle">
    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
      <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Angle-double-left.svg'" cacheSVG="true" class="svg-icon svg-icon-xl"></span>
    </button>
  </ng-container>
</div>
<!--end::Brand-->

<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
  <ng-container *ngIf="disableAsideSelfDisplay">
    <!--begin::Header Logo-->
    <a routerLink="/"><img alt="Logo" [attr.src]="headerLogo" /></a>
    <!--end::Header Logo-->
  </ng-container>
  <!--begin::Menu Container-->
  <div id="kt_aside_menu" class="aside-menu" [ngClass]="asideMenuCSSClasses" data-menu-vertical="1" 
  [attr.data-menu-scroll]="asideMenuScroll" [attr.data-menu-dropdown]="asideMenuDropdown"data-menu-dropdown-timeout="500">
    <!-- begin::Menu Nav -->
    <ul class="menu-nav" [ngClass]="ulCSSClasses">
      <!-- begin::1 Level  Dashboard -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active"  *ngIf="authService.hasPermission('view_dashboard')">
        <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">Dashboard</span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <!-- <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/builder" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Home/Library.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">Layout Builder</span>
        </a>
      </li> -->
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open" *ngIf="authService.hasPermission('view_company')">
        <a class="menu-link menu-toggle" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Communication/Group.svg'" cacheSVG="true" class="svg-icon menu-icon">
          </span>
          <span class="menu-text">{{ 'COMPANY.COMPANIES' | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- begin::2 Level COMPANIES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_company')">
              <a class="menu-link" routerLink="/companies" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'COMPANY.COMPANIES' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level TYPES_COMPANIES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_typecompany')">
              <a class="menu-link" routerLink="/typescompanies" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'TYPE_COMPANY.TYPES_COMPANIES' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level SEGMENTS_COMPANIES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_segmentcompany')">
              <a class="menu-link" routerLink="/segmentscompanies" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'SEGMENT_COMPANY.SEGMENTS_COMPANIES' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level COMPANYCONTACTS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_companycontact')">
              <a class="menu-link" routerLink="/companycontacts" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'COMPANYCONTACT.COMPANYCONTACTS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::1 Level BANKSACCOUNTS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_bankaccount')">
              <a class="menu-link" routerLink="/banksaccounts" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'BANKACCOUNT.BANKSACCOUNTS' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->

            <!-- begin::1 Level CHESTS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_chest')">
              <a class="menu-link" routerLink="/chests" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'CHEST.CHESTS' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->
            
            <!-- begin::1 Level SERVICE_ORDERS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_serviceorder')">
              <a class="menu-link" routerLink="/serviceorders" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'SERVICE_ORDER.SERVICE_ORDERS' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->

             <!-- begin::1 Level TYPE_SERVICE_ORDERS -->
             <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_typeserviceorder')">
              <a class="menu-link" routerLink="/typesserviceorders" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'TYPESERVICEORDER.TYPESSERVICEORDERS' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->
           
            <!-- begin::1 Level ORIGIN_DESTINATIONS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_origindestination')">
              <a class="menu-link" routerLink="/origindestinations" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'ORIGIN_DESTINATION.ORIGIN_DESTINATIONS' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->
            
            <!-- begin::1 Level CLIENT_BINNACLES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_clientbinnacle')">
              <a class="menu-link" routerLink="/clientbinnacles" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'CLIENT_BINNACLE.CLIENT_BINNACLES' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->
            
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open" *ngIf="authService.hasPermission('view_location')">
        <a class="menu-link menu-toggle" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Communication/Adress-book2.svg'" cacheSVG="true" class="svg-icon menu-icon">
          </span>
          <span class="menu-text">{{ 'LOCATION.LOCATIONS' | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- begin::1 Level LOCATIONS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_location')">
              <a class="menu-link" routerLink="/locations" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'LOCATION.LOCATIONS' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->
            <!-- begin::1 Level TYPES_LOCATIONS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_typelocation')">
              <a class="menu-link" routerLink="/typeslocations" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'TYPE_LOCATION.TYPES_LOCATIONS' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->
          </ul>
        </div>
      </li>
      <!-- end::2 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open" *ngIf="authService.hasPermission('view_guide') || authService.hasPermission('view_guideinput')">
        <a class="menu-link menu-toggle" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Exchange.svg'" cacheSVG="true" class="svg-icon menu-icon">
          </span>
          <span class="menu-text">{{ 'GUIDE.GUIDES' | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- <li class="menu-item menu-item-parent" aria-haspopup="true">
              <span class="menu-link">
                <span class="menu-text">User Management</span>
              </span>
            </li> -->
            <!-- begin::2 Level GUIDES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_guide')">
              <a class="menu-link" routerLink="/guides" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'GUIDE.GUIDES' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level GUIDES_INPUTS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_guideinput')">
              <a class="menu-link" routerLink="/guidesinput" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'GUIDE.GUIDES_INPUTS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level GUIDES_OUTPUTS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_guideoutput')">
              <a class="menu-link" routerLink="/guidesoutput" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'GUIDE.GUIDES_OUTPUTS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level GUIDES_CHECKS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_guidecheck')">
              <a class="menu-link" routerLink="/guidescheck" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'GUIDE.GUIDES_CHECKS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level TYPES_GUIDES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_typeguide')">
              <a class="menu-link" routerLink="/typesguides" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'TYPE_GUIDE.TYPES_GUIDES' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level CERTIFIED_CARTS -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_certifiedcart')">
        <a class="menu-link" routerLink="/certifiedcarts" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/General/Lock.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">{{ 'CERTIFIED_CART.CERTIFIED_CARTS' | translate }}</span>
        </a>
      </li>
      <!-- end::1 Level -->
      
      <!-- begin::1 Level VOUCHERS -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_voucher')">
        <a class="menu-link" routerLink="/vouchers" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Files/File-done.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">{{ 'VOUCHER.VOUCHERS' | translate }}</span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level VOUCHERSSECURITIES -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_vouchersecurity')">
        <a class="menu-link" routerLink="/voucherssecurities" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Files/File-done.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">{{ 'VOUCHERSECURITY.VOUCHERSSECURITIES' | translate }}</span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level VOUCHERSDELIVERED -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_voucherconfirmationdelivered')">
        <a class="menu-link" routerLink="/vouchersconfirmationdelivered" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Files/File-done.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">{{ 'VOUCHER.VOUCHERS' | translate }} {{ 'VOUCHER.DELIVERED' | translate }}</span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level VOUCHERSADMIN -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_voucheradmin')">
        <a class="menu-link" routerLink="/vouchersadmin" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Files/File-done.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">{{ 'VOUCHER.VOUCHERS' | translate }} {{ 'VOUCHER.ADMIN' | translate }}</span>
        </a>
      </li>
      <!-- end::1 Level -->
            
      <!-- begin::1 Level PACKINGS -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_packing')">
        <a class="menu-link" routerLink="/packings" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Home/Box.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">{{ 'PACKING.PACKINGS' | translate }}</span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level MODERATIONS -->
      <!-- <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_moderatedobject')">
        <a class="menu-link" routerLink="/moderations" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Home/Broom.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">{{ 'MODERATION.MODERATIONS' | translate }}</span>
        </a>
      </li> -->
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open" *ngIf="authService.hasPermission('view_depositform')">
        <a class="menu-link menu-toggle" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Home/Library.svg'" cacheSVG="true" class="svg-icon menu-icon">
          </span>
          <span class="menu-text">{{ 'DEPOSITFORM.DEPOSITFORMS' | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- begin::1 Level DEPOSITFORMS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_depositform')">
              <a class="menu-link" routerLink="/depositforms" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'DEPOSITFORM.DEPOSITFORMS' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->

            <!-- begin::1 Level DEPOSITFORMSDETAILS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_depositformdetail')">
              <a class="menu-link" routerLink="/depositformsdetails" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'DEPOSITFORMDETAIL.DEPOSITFORMSDETAILS' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open" *ngIf="authService.hasPermission('view_currency')">
        <a class="menu-link menu-toggle" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Shopping/Dollar.svg'" cacheSVG="true" class="svg-icon menu-icon">
          </span>
          <span class="menu-text">{{ 'CURRENCY.CURRENCIES' | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- <li class="menu-item menu-item-parent" aria-haspopup="true">
              <span class="menu-link">
                <span class="menu-text">User Management</span>
              </span>
            </li> -->
            <!-- begin::2 Level CURRENCIES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_currency')">
              <a class="menu-link" routerLink="/currencies" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'CURRENCY.CURRENCIES' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level TYPESCURRENCIES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_typecurrency')">
              <a class="menu-link" routerLink="/typescurrencies" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'TYPECURRENCY.TYPESCURRENCIES' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level CURRENCIESDETAILS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_currencydetail')">
              <a class="menu-link" routerLink="/currenciesdetails" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'CURRENCYDETAIL.CURRENCIESDETAILS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level EXCHANGES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_exchange')">
              <a class="menu-link" routerLink="/exchanges" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'EXCHANGE.EXCHANGES' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open" *ngIf="authService.hasPermission('view_contract')">
        <a class="menu-link menu-toggle" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Files/Folder-star.svg'" cacheSVG="true" class="svg-icon menu-icon">
          </span>
          <span class="menu-text">{{ 'CONTRACT.CONTRACTS' | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- begin::1 Level CONTRACTS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_contract')">
              <a class="menu-link" routerLink="/contracts" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'CONTRACT.CONTRACTS' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->

            <!-- begin::1 Level TYPESCONTRACTS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_typecontract')">
              <a class="menu-link" routerLink="/typescontracts" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'TYPECONTRACT.TYPESCONTRACTS' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->

            <!-- begin::1 Level CLAUSES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_clause')">
              <a class="menu-link" routerLink="/clauses" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'CLAUSE.CLAUSES' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->
      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open" *ngIf="authService.hasPermission('view_headinvoice')">
        <a class="menu-link menu-toggle" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Files/Folder-star.svg'" cacheSVG="true" class="svg-icon menu-icon">
          </span>
          <span class="menu-text">{{ 'HEADINVOICE.HEADINVOICES' | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- begin::1 Level HEADINVOICES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_headinvoice')">
              <a class="menu-link" routerLink="/headinvoices" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'HEADINVOICE.HEADINVOICES' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->
            <!-- begin::1 Level DETAILINVOICES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_detailinvoice')">
              <a class="menu-link" routerLink="/detailinvoices" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'DETAILINVOICE.DETAILINVOICES' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->            
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->
      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open" 
      *ngIf="authService.hasPermission('view_rate') 
        || authService.hasPermission('view_origindestination') 
        || authService.hasPermission('view_serviceorder') 
        || authService.hasPermission('view_productandservice')
        || authService.hasPermission('view_productpart')">  
        <a class="menu-link menu-toggle" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Shopping/Cart3.svg'" cacheSVG="true" class="svg-icon menu-icon">
          </span>
          <span class="menu-text">{{ 'PRODUCTANDSERVICE.PRODUCTANDSERVICES' | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- begin::1 Level Product and Services -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_productandservice')">
              <a class="menu-link" routerLink="/productandservices" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'PRODUCTANDSERVICE.PRODUCTANDSERVICES' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->

            <!-- begin::1 Level Types Product Parts -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_productpart')">
              <a class="menu-link" routerLink="/productparts" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'PRODUCTPART.PRODUCTPARTS' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->

            <!-- begin::2 Level TYPES_PRODUCT_TRANSACTIONS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_typeproducttransaction')">
              <a class="menu-link" routerLink="/typesproducttransactions" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'TYPE_PRODUCT_TRANSACTION.TYPES_PRODUCT_TRANSACTIONS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level STOCK -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_stock')">
              <a class="menu-link" routerLink="/stocks" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'STOCK.STOCK' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level STOCKTRANSACTION -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_stocktransaction')">
              <a class="menu-link" routerLink="/stocktransactions" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'STOCKTRANSACTION.STOCKTRANSACTION' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->
            
            <!-- begin::2 Level STOCKTRANSACTIONDETAIL -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_stocktransactiondetail')">
              <a class="menu-link" routerLink="/stocktransactiondetails" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'STOCKTRANSACTIONDETAIL.STOCKTRANSACTIONDETAIL' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level STOCKSERIAL -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_stockserial')">
              <a class="menu-link" routerLink="/stockserials" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'STOCKSERIAL.STOCKSERIAL' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::1 Level RATES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_rate')">
              <a class="menu-link" routerLink="/rates" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'RATE.RATES' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->
            
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open" *ngIf="authService.hasPermission('view_quotation')">
        <a class="menu-link menu-toggle" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Design/PenAndRuller.svg'" cacheSVG="true" class="svg-icon menu-icon">
          </span>
          <span class="menu-text">{{ 'QUOTATION.QUOTATIONS' | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- begin::2 Level QUOTATIONS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_quotation')">
              <a class="menu-link" routerLink="/quotations" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'QUOTATION.QUOTATIONS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->
            <!-- begin::2 Level QUOTETEMPLATES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_quotetemplate')">
              <a class="menu-link" routerLink="/quotetemplates" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'QUOTETEMPLATE.QUOTETEMPLATES' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level Packing -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_crew')">
        <a class="menu-link" routerLink="/crews" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Files/User-folder.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">{{ 'CREW.CREWS' | translate }}</span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open" *ngIf="authService.hasPermission('view_tourdetail')">
        <a class="menu-link menu-toggle" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Files/Folder-star.svg'" cacheSVG="true" class="svg-icon menu-icon">
          </span>
          <span class="menu-text">{{ 'TOUR_DETAIL.TOURS_DETAILS' | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- begin::1 Level Types TOURS_DETAILS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_tourdetail')">
              <a class="menu-link" routerLink="/toursdetails" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'TOUR_DETAIL.TOURS_DETAILS' | translate }}</span>
              </a>
            </li>
            <!-- end::1 Level -->
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open" *ngIf="authService.hasPermission('view_reportoperation')">
        <a class="menu-link menu-toggle" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Shopping/Chart-line1.svg'" cacheSVG="true" class="svg-icon menu-icon">
          </span>
          <span class="menu-text">{{ 'REPORT.REPORTS' | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- begin::2 Level REPORTS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_report')">
              <a class="menu-link" routerLink="/reportsexpress" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'REPORT.REPORTS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->
            <!-- begin::2 Level REPORTOPERATIONS -->
            <li class="menu-item" routerLinkActive="menu-item-active" aria-haspopup="true" data-menu-toggle="hover" *ngIf="authService.hasPermission('view_reportoperation')">
              <a class="menu-link" routerLink="/reportsoperations" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'REPORT.OPERATIONS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->
            <!-- begin::2 Level REPORTREQUESTS -->
            <li class="menu-item" routerLinkActive="menu-item-active" aria-haspopup="true" data-menu-toggle="hover" *ngIf="authService.hasPermission('view_reportrequest')">
              <a class="menu-link" routerLink="/reportsrequests" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'REPORT.REQUESTS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open" *ngIf="authService.hasPermission('view_user')">
        <a class="menu-link menu-toggle" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/General/Settings-2.svg'" cacheSVG="true" class="svg-icon menu-icon">
          </span>
          <span class="menu-text">{{ 'COMMON.ADMINISTRATION' | translate }}</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- <li class="menu-item menu-item-parent" aria-haspopup="true">
              <span class="menu-link">
                <span class="menu-text">User Management</span>
              </span>
            </li> -->
            <!-- begin::2 Level USERS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_user')">
              <a class="menu-link" routerLink="/users" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'USER.USERS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level EMPLOYEES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_employee')">
              <a class="menu-link" routerLink="/employees" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'EMPLOYEE.EMPLOYEES' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level PERMISSIONS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_permission')">
              <a class="menu-link" routerLink="/permissions" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'PERMISSION.PERMISSIONS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level CONTENT_TYPES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_permission')">
              <a class="menu-link" routerLink="/contenttypes" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'CONTENT_TYPE.CONTENT_TYPES' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level GROUPS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_group')">
              <a class="menu-link" routerLink="/groups" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'GROUP.GROUPS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level OFFICES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_office')">
              <a class="menu-link" routerLink="/offices" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'OFFICE.OFFICES' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level ZONES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_zone')">
              <a class="menu-link" routerLink="/zones" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'ZONE.ZONES' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level DEPARTMENTS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_department')">
              <a class="menu-link" routerLink="/departments" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'DEPARTMENT.DEPARTMENTS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->
          
            <!-- begin::2 Level POSITIONS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_position')">
              <a class="menu-link" routerLink="/positions" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'POSITION.POSITIONS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level VEHICLES -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_vehicle')">
              <a class="menu-link" routerLink="/vehicles" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'VEHICLE.VEHICLES' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->
            
            <!-- begin::2 Level DIVISIONS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_division')">
              <a class="menu-link" routerLink="/divisions" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'DIVISION.DIVISIONS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level TYPES_DIVISIONS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_typedivision')">
              <a class="menu-link" routerLink="/typesdivisions" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'TYPE_DIVISION.TYPES_DIVISIONS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level TYPES_CHESTS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_typechest')">
              <a class="menu-link" routerLink="/typeschests" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'TYPE_CHEST.TYPES_CHESTS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level DOCUMENTS_SERVICES_ORDERS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_documentserviceorder')">
              <a class="menu-link" routerLink="/documentsservicesorders" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'DOCUMENT_SERVICE_ORDER.DOCUMENTS_SERVICES_ORDERS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level NOTIFICATIONS -->
            <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngIf="authService.hasPermission('view_notification')">
              <a class="menu-link" routerLink="/notifications" routerLinkActive="active">
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">{{ 'NOTIFICATION.NOTIFICATIONS' | translate }}</span>
              </a>
            </li>
            <!-- end::2 Level -->
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->
    </ul>
    <div class="col-12 text-center font-weight-bold" 
      style="color: #a2a3b7;">
      Versión {{version}} <br>
    </div>
    <!-- end::Menu Nav -->
  </div>
  <!--end::Menu Container-->
</div>
<!--end::Aside Menu-->
