<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{ 'COMMON.LIST' | translate }}</h3>{{ 'CERTIFIED_CART.CERTIFIED_CARTS' | translate }}
    </div>
    <div class="card-toolbar">
      <!-- <a type="button" class="btn btn-primary" routerLink="{{parent}}/certifiedcarts/add" *ngIf="authService.hasPermission('add_certifiedcart')">{{ 'COMMON.NEW' | translate }}</a> -->
      <!-- <a type="button" class="btn btn-secondary" (click)="showModalTranferDialog()" *ngIf="selectedModels.length > 0">{{ 'COMMON.TRANSFER' | translate }} {{ 'VOUCHER.DIVISION' | translate }}</a> -->
      <a title="{{ 'COMMON.VERIFICATION' | translate }}" class="btn btn-icon btn-light btn-hover-warning btn-sm text-warning" style="margin-right: 5px;" 
      (click)="verificationList()" *ngIf="selectedModels && selectedModels.length > 0">
      <span [inlineSVG]="'./assets/media/svg/icons/General/Check-mark.svg'" cacheSVG="true"
        class="svg-icon svg-icon-md svg-icon-warning">
      </span>
      </a>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-6">
          {{ 'COMMON.FILTER' | translate }}
        </div>
        <div class="col-lg-6" [formGroup]="searchGroup">
          <input type="text" class="form-control" name="searchText" placeholder="{{ 'COMMON.SEARCH' | translate }}" value="" (input)="dt.filterGlobal($event.target.value, 'contains')"
            formControlName="searchTerm" /><small class="form-text text-muted"><b>{{ 'COMMON.SEARCH' | translate }}</b> </small>
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->

    <!-- begin:Table -->
    <p-table #dt [value]="models" [(selection)]="selectedModels" dataKey="id" styleClass="p-datatable-striped p-datatable-sm" [rowHover]="true"
    [rows]="per_page" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50,100]"
    [paginator]="true" currentPageReportTemplate="{{ 'COMMON.SHOWING' | translate }} {{ 'COMMON.FROM' | translate }} {first} {{ 'COMMON.TO' | translate }} {last} {{ 'COMMON.OF' | translate }} {totalRecords} {{ 'COMMON.RECORDS' | translate }}"
    [filterDelay]="1000" [globalFilterFields]="['id']" [lazy]="true" (onLazyLoad)="loadLazy($event)"
    [totalRecords]="totalRecords" [showJumpToPageDropdown]="false" [minBufferPx]="1" [showLoader]="true" [loading]="requesting">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem" *ngIf="showTableCheckbox">
            <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
          </th>
          <th pSortableColumn="id">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'CERTIFIED_CART.ID' | translate }}
            </div>
          </th>
          <th pSortableColumn="created_at">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'COMMON.CREATED_AT' | translate }}
              <!-- <p-sortIcon field="date_joined"></p-sortIcon>
              <p-columnFilter type="date_joined" field="date_joined" display="menu" class="p-ml-auto"></p-columnFilter> -->
            </div>
          </th>
          <th pSortableColumn="code">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'CERTIFIED_CART.CODE' | translate }}
            </div>
          </th>
          <th pSortableColumn="vouchers">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'CERTIFIED_CART.VOUCHERS' | translate }}
            </div>
          </th>
          <th style="width: 10rem">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{ 'COMMON.ACTION' | translate }}
              <!-- <p-sortIcon field="date_joined"></p-sortIcon>
              <p-columnFilter type="date_joined" field="date_joined" display="menu" class="p-ml-auto"></p-columnFilter> -->
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-value>
        <tr class="p-selectable-row">
          <td *ngIf="showTableCheckbox">
            <p-tableCheckbox [value]="value" *ngIf="value.verificated === false"></p-tableCheckbox>
          </td>
          <td>
            {{value.id}}
          </td>
          <td>
            {{value.created_at | date: 'MM/dd/yyyy'}}
          </td>
          <td>
            {{value.code}}
          </td>
          <td>
            {{value.vouchers.length}}
          </td>
          <td style="text-align: right">
            <a title="{{ 'COMMON.VERIFICATION' | translate }}" class="btn btn-icon btn-light btn-hover-warning btn-sm text-warning" style="margin-right: 5px;" 
              (click)="verification(value)" *ngIf="authService.hasPermission('change_certifiedcart') && !value.verificated">
              <span [inlineSVG]="'./assets/media/svg/icons/General/Check-mark.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-warning">
              </span>
            </a>
            <a title="{{ 'COMMON.EDIT' | translate }}" class="btn btn-icon btn-light btn-hover-primary btn-sm" style="margin-right: 5px;"
              routerLink="{{parent}}/certifiedcarts/edit/{{value.id}}" *ngIf="authService.hasPermission('change_certifiedcart')">
              <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-primary">
              </span>
            </a>
            <a title="{{ 'COMMON.DELETE' | translate }}" class="btn btn-icon btn-light btn-hover-danger btn-sm"
              (click)="confirm(value.id, 'right')" *ngIf="authService.hasPermission('delete_certifiedcart')">
              <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-danger">
              </span>
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">{{ 'COMMON.NO_ITEMS_FOUND' | translate }}</td>
        </tr>
      </ng-template>
    </p-table>
    <!-- end: Table -->
  </div>
</div>

<p-confirmDialog header="{{ 'COMMON.CONFIRMATION' | translate }}" icon="pi pi-exclamation-triangle" [position]="confirmDialogPosition"></p-confirmDialog>

<p-dialog header="{{ 'COMMON.VERIFICATION' | translate }}" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" 
  [baseZIndex]="10000" [draggable]="false" [resizable]="false" [contentStyle]="{'overflow': 'visible'}" (onHide)="closeVerificationModal()">
  <form action="#" class="form form-label-right" [formGroup]="verificationGroup">
    <div class="form-group row" *ngIf="verificationCertifiedCarts" style="margin-top: 20px;">
      <div class="col-lg-12">
        <label>{{ 'COMMON.ENTER' | translate }} {{ 'GUIDE.CODES' | translate }}</label>
        <p-chips [styleClass]="getValidClass(isControlValid('vouchers',verificationGroup))" formControlName="vouchers" [allowDuplicate]="false" (onAdd)="addListVouchers($event)" (onRemove)="removeListVouchers($event)" [(ngModel)]="listVouchers"></p-chips>
        <div class="feedback"  style="display: block;" *ngIf="!isControlTouched('vouchers',verificationGroup)">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'GUIDE.CODES' | translate }}</b></div>
        <div class="valid-feedback"  style="display: block;" *ngIf="voucherLenght(verificationCertifiedCarts) + countPackings(verificationCertifiedCarts, true) == listVouchers.length">{{ 'GUIDE.CODES' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
        <!-- <div class="invalid-feedback"  style="display: block;" *ngIf="controlHasError('required', 'vouchers')">Vouchers  {{ 'COMMON.IS_REQUIRED' | translate }}</div> -->
        <div class="invalid-feedback"  style="display: block;" *ngIf="voucherLenght(verificationCertifiedCarts) + countPackings(verificationCertifiedCarts, true) > listVouchers.length">{{ 'GUIDE.CODES' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} {{voucherLenght(verificationCertifiedCarts) + countPackings(verificationCertifiedCarts, true)}}
          item</div>
        <div class="invalid-feedback"  style="display: block;" *ngIf="voucherLenght(verificationCertifiedCarts) + countPackings(verificationCertifiedCarts, true) < listVouchers.length">{{ 'GUIDE.CODES' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} {{voucherLenght(verificationCertifiedCarts) + countPackings(verificationCertifiedCarts, true)}}
          items</div>
      </div>
      <div class="col-lg-6" style="margin-top: 15px; margin-bottom: 5px;">
        <b>{{ 'COMMON.LIST' | translate }} {{ 'COMMON.VERIFICATION' | translate }}:</b><br>
        <div style="overflow: scroll; max-height: 400px;" class="py-5">

          <span *ngFor="let certifiedcart of verificationCertifiedCarts">
            <!-- <i class="fas fa-clipboard-list" style="color: Dodgerblue; font-size: 16px;"></i> {{certifiedcart.id}}<br> -->
            <span *ngFor="let voucher of certifiedcart.vouchers">
              <div *ngIf="!voucher.verificated"> - <i class="fas fa-clipboard-list" style="color: Dodgerblue; font-size: 16px;"></i> {{voucher.code}} <i [ngClass]="voucher.verificated ? 'fas fa-check-circle' : 'fas fa-question-circle'" aria-hidden="true" [ngStyle]="{'color': voucher.verificated ? 'green' : 'red' }"></i><br></div>
              <!-- <div *ngIf="certifiedcart.division_destination.name !== 'Operaciones Internas'"> -->
                <span *ngFor="let packing of voucher.packings"> 
                    <div *ngIf="!packing.verificated"> -- <i class="fas fa-archive" style="color: Dodgerblue; font-size: 16px;" *ngIf="!packing.verificated"></i> {{packing.code}} <i [ngClass]="packing.verificated ? 'fas fa-check-circle' : 'fas fa-question-circle'" aria-hidden="true" [ngStyle]="{'color': packing.verificated ? 'green' : 'red' }"></i><br></div>
                  </span>
              <!-- </div> -->
            </span>
          </span>

        </div>
      </div>
      <div class="col-lg-6" style="margin-top: 15px; margin-bottom: 5px;">
        <b>{{ 'COMMON.LIST' | translate }} {{ 'COMMON.VERIFICATED' | translate }}:</b><br>
        <div style="overflow: scroll; max-height: 400px;" class="py-5">

          <span *ngFor="let certifiedcart of verificationCertifiedCarts">
            <!-- <i class="fas fa-clipboard-list" style="color: Dodgerblue; font-size: 16px;"></i> {{certifiedcart.id}}<br> -->
            <span *ngFor="let voucher of certifiedcart.vouchers">
              <div *ngIf="voucher.verificated"> - <i class="fas fa-clipboard-list" style="color: Dodgerblue; font-size: 16px;"></i> {{voucher.code}} <i [ngClass]="voucher.verificated ? 'fas fa-check-circle' : 'fas fa-question-circle'" aria-hidden="true" [ngStyle]="{'color': voucher.verificated ? 'green' : 'red' }"></i><br></div>
              <!-- <div *ngIf="certifiedcart.division_destination.name !== 'Operaciones Internas'"> -->
                  <span *ngFor="let packing of voucher.packings"> 
                    <div *ngIf="packing.verificated"> -- <i class="fas fa-archive" style="color: Dodgerblue; font-size: 16px;" *ngIf="!packing.verificated"></i> {{packing.code}} <i [ngClass]="packing.verificated ? 'fas fa-check-circle' : 'fas fa-question-circle'" aria-hidden="true" [ngStyle]="{'color': packing.verificated ? 'green' : 'red' }"></i><br></div>
                  </span>
              <!-- </div> -->
            </span>
          </span>

        </div>
      </div>
      <div class="col-lg-12">
        <div class="float-right">
          <a class="btn btn-default font-weight-bold mr-2" (click)="closeVerificationModal()">{{ 'COMMON.CANCEL' | translate }}</a>
          <button type="submit" class="btn btn-primary font-weight-bold mr-2"
            [disabled]="verificationGroup.invalid" (click)="saveVerification()">{{ 'COMMON.SAVE_AND_EXIT' | translate }}</button>
        </div>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog header="{{ 'VOUCHER.CERTIFIED_CART' | translate }}" [(visible)]="displayModalTransfer" [modal]="true" [style]="{width: '50vw'}" 
  [baseZIndex]="10000" [draggable]="false" [resizable]="false" [contentStyle]="{'overflow': 'visible'}">
  <app-certified-cart-edit (close)="hideModalDialogCertifiedCart()" [listCertifiedCart]="selectedModels" [showTransferDivision]="true"></app-certified-cart-edit>
</p-dialog>
