<!--begin::Navigation-->
<ul class="navi navi-hover">
  <li class="navi-header font-weight-bold py-4">
    <span class="font-size-lg">{{ 'COMMON.CHOOSE' | translate }} {{ 'DIVISION.DIVISION' | translate }}</span>
    <!-- <i
      class="flaticon2-information icon-md text-muted"
      data-toggle="tooltip"
      data-placement="right"
      title="Click to learn more..."
    ></i> -->
  </li>
  <li class="navi-separator mb-3 opacity-70"></li>
  <li class="navi-item" *ngFor="let item of divisions">
    <a class="navi-link cursor-pointer" (click)="changeDivision(item)">
      <span class="navi-text">
        <span class="label label-xl label-inline label-light-success">{{item.name}}</span>
      </span>
    </a>
  </li>
</ul>
<!--end::Navigation-->
