<div class="card card-custom gutter-b">
  <ng-container *ngIf="requesting">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>

  <div class="card-header" *ngIf="!showTransferDivision">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container *ngIf="model">
          {{ (id ? 'COMMON.EDIT' : 'COMMON.NEW') | translate }}
          <span *ngIf="model && model.id">{{ 'CERTIFIED_CART.CERTIFIED_CART' | translate }} : {{ model.id }} / {{ 'CERTIFIED_CART.CODE' | translate }}:{{ model.code }} </span>
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-light" routerLink="{{parent}}/certifiedcarts">
        <i class="fa fa-arrow-left"></i>{{ 'COMMON.BACK' | translate }}
      </a>
      <button class="btn btn-secondary ml-2" (click)="reset()">
        <i class="fa fa-redo"></i>{{ 'COMMON.RESET' | translate }}
      </button>
    </div>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
      <li *ngIf="model && model.id" class="nav-item cursor-pointer" (click)="changeTab(tabs.BASIC_TAB)">
        <a class="nav-link" data-toggle="tab" role="tab" [attr.aria-selected]="activeTabId === tabs.BASIC_TAB"
          [class.active]="activeTabId === tabs.BASIC_TAB" routerLink="{{parent}}/edit/{{model.id}}">
          {{ 'COMMON.BASIC_INFO' | translate }}
        </a>
      </li>
      <li *ngIf="(model && model.id && authService.hasPermission('view_voucher'))" class="nav-item cursor-pointer" (click)="changeTab(tabs.VOUCHER_TAB)">
        <a class="nav-link" data-toggle="tab" role="button" [attr.aria-selected]="activeTabId === tabs.VOUCHER_TAB"
          [class.active]="activeTabId === tabs.VOUCHER_TAB" routerLink="{{parent}}/edit/{{model.id}}/vouchers">{{ 'VOUCHER.VOUCHERS' | translate }}</a>
      </li>
    </ul>

    <ng-container *ngIf="activeTabId === tabs.BASIC_TAB">
      <div class="mt-5" *ngIf="model">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-lg-4" *ngIf="!showTransferDivision">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'CERTIFIED_CART.CODE' | translate }}</label>
              <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off"
                name="code" [class.is-invalid]="isControlInvalid('code')"
                [class.is-valid]="isControlValid('code')" formControlName="code" />
              <div class="feedback" *ngIf="!isControlTouched('code')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'CERTIFIED_CART.CODE' | translate }}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('code')">{{ 'CERTIFIED_CART.CODE' | translate }}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'code')">{{ 'CERTIFIED_CART.CODE' | translate }}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'code')">{{ 'CERTIFIED_CART.CODE' | translate }} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'code')">{{ 'CERTIFIED_CART.CODE' | translate }} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4" *ngIf="showTransferDivision">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'CERTIFIED_CART.DIVISION_LAST' | translate}}</label>
              <app-division-autocomplete
              name="division_last" [valid]="isControlValid('division_last')" [touched]="isControlTouched('division_last')" [class.is-invalid]="isControlInvalid('division_last')"
              [class.is-valid]="isControlValid('division_last')" formControlName="division_last" id="division_last" [model]="model.division_last" disabled="true"></app-division-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('division_last')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'CERTIFIED_CART.DIVISION_LAST' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('division_last')">{{ 'CERTIFIED_CART.DIVISION_LAST' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'division_last')">{{ 'CERTIFIED_CART.DIVISION_LAST' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'division_last')">{{ 'CERTIFIED_CART.DIVISION_LAST' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'division_last')">{{ 'CERTIFIED_CART.DIVISION_LAST' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
            <div class="col-lg-4" *ngIf="showTransferDivision">
              <label>{{ 'COMMON.ENTER' | translate }} {{ 'CERTIFIED_CART.DIVISION' | translate}}</label>
              <app-division-autocomplete
              name="division" [valid]="isControlValid('division')" [touched]="isControlTouched('division')" [class.is-invalid]="isControlInvalid('division')"
              [class.is-valid]="isControlValid('division')" formControlName="division" id="division" [model]="model.division"></app-division-autocomplete>
              <div class="feedback" *ngIf="!isControlTouched('division')">{{ 'COMMON.PLEASE_ENTER' | translate }} <b>{{ 'CERTIFIED_CART.DIVISION' | translate}}</b></div>
              <div class="valid-feedback" *ngIf="isControlValid('division')">{{ 'CERTIFIED_CART.DIVISION' | translate}}  {{ 'COMMON.WAS_ENTERED_CORRECT' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'division')">{{ 'CERTIFIED_CART.DIVISION' | translate}}  {{ 'COMMON.IS_REQUIRED' | translate }}</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'division')">{{ 'CERTIFIED_CART.DIVISION' | translate}} {{ 'COMMON.SHOULD_HAVE_LEAST' | translate }} 3</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'division')">{{ 'CERTIFIED_CART.DIVISION' | translate}} {{ 'COMMON.SHOULD_HAVE_MAXIMUM' | translate }} 30</div>
            </div>
          </div>
          <div class="float-right">
            <a class="btn btn-default font-weight-bold mr-2" routerLink="{{parent}}/certifiedcarts" *ngIf="!showTransferDivision">{{ 'COMMON.CANCEL' | translate }}</a>
            <a class="btn btn-default font-weight-bold mr-1 py-2" (click)="closeEmit()" *ngIf="showTransferDivision">{{ 'COMMON.CANCEL' | translate }}</a>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(false)" *ngIf="!showTransferDivision">{{ 'COMMON.SAVE' | translate }}</button>
            <button type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid" (click)="save(true)" *ngIf="!view">{{ 'COMMON.SAVE_AND_EXIT' | translate }}</button>
          </div>
        </form>
      </div>
    </ng-container>
    <ng-container *ngIf="activeTabId === tabs.VOUCHER_TAB">
      <div class="mt-5" *ngIf="model && model.id">
        <app-voucher></app-voucher>
      </div>
    </ng-container>
  </div>
</div>